@import "fit-variables";

@mixin badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.left-badge {
  @include badge;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-right: 0;
}

.middle-badge {
  @include badge;
  margin: 0;
  border-radius: 0;
}

.right-badge {
  @include badge;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-left: 0;
}

.archive-badge {
  cursor: pointer;
  background-color: $primary-color;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.recover-badge {
  cursor: pointer;
  background-color: #333;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;

  &:hover {
    background-color: darken(#111, 10%);
  }
}

.delete-badge {
  cursor: pointer;
  background-color: $danger-color;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;

  &:hover {
    background-color: darken($danger-color, 10%);
  }
}
