@import "~ngx-chips/core/styles/core/_core.scss";

.ng2-tag-input.fit-tag-input-theme {
  border: solid 1px #dadada !important;
  border-radius: .25rem;
  padding: .25em !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .60);
    margin: .25em;
  }
  :-moz-placeholder {
    color: rgba(0, 0, 0, .60);
    margin: .25em;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: rgba(0, 0, 0, .60);
    margin: .25em;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: rgba(0, 0, 0, .60);
    margin: .25em;
  }
}

.ng2-tag-input.fit-tag-input-theme.ng2-tag-input--focused {
  border: solid 1px #80bdff !important;
}

.ng2-tag-input.fit-tag-input-theme tag {
  height: auto !important;
  min-height: 32px;
  border: solid 1px lightgrey;
  border-radius: .25rem;
  padding: 0 .50em !important;
  background-color: whitesmoke;
  margin: .25em;

  &:focus, &:active, &:hover {
    color: inherit !important;
    background-color: lightgrey !important;
  }
}

.ng2-tag-input.fit-tag-input-theme {
  form {
    min-height: 2rem;
    height: 100%;

    input {

      height: 100%;
    }
  }
}
