@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$main-border: solid 1px lightgrey;
$main-background: white;

$primary-color: #007bff;
