@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$main-border: solid 1px lightgrey;
$main-background: whitesmoke;

$primary-color: $blue;
$info-color: $info;
$danger-color: $red;
$more-warning-color: $orange;
$warning-color: $yellow;
$success-color: $green;
$secondary-color: $gray-600;
