@import "./fit-variables";
@import "./fit-tag-input-theme";
@import "./fit-animations";

html, body {
  height: 100%;
}

.no-outline-button {
  cursor: pointer;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.disabled-element {
  opacity: .6;
  pointer-events: none;
  user-select: none;
}

.icon-button {
  @extend .no-outline-button;
  color: #000;
  opacity: .5;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
    opacity: .75;
  }

  &:active {
    opacity: 1;
  }
}

.img-keep-ratio {
  object-fit: contain;
}

.flex-filler {
  flex: 1;
}

.text-bold {
  font-weight: bold;
}

.tiny-container {
  max-width: 400px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.small-container {
  max-width: 850px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn {
  cursor: pointer;
}

.border-top {
  border-top: $main-border;
}

.border-bottom {
  border-bottom: $main-border;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-effect {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}
