@import "fit-variables";

.ml-0-5 {
  margin-bottom: 0.1rem;
}

.mb-0-5 {
  margin-bottom: 0.1rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 5rem;
}

.mb-8 {
  margin-bottom: 7rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 12rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 7rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 12rem;
}


.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-2-5 {
  flex: 2.5;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-10 {
  flex: 2.5;
}

.modal-xl {
  width: auto;
  max-width: 920px;
}

.fa-1-3x {
  font-size: 1.3rem !important;
}

.fa-1-5x {
  font-size: 1.5rem !important;
}

.text-bold {
  font-weight: bold;
}

.text-link {
  color: #007bff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.text-severe-warning {
  color: adjust_hue($danger, 15%);
}

.bg-main {
  background-color: $main-background;
}
