<div class="container mt-7">
  <h1 class="text-center">CSV-Export</h1>

  <div class="d-flex mt-4 justify-content-center">

    <div class="dash"
         [routerLink]="['/admin-tool','csv-export','absolventen']">
      <i class="fa fa-user dash-icon"></i>
      <div class="dash-text">Absolventen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','csv-export','firmen']">
      <i class="fa fa-users dash-icon"></i>
      <div class="dash-text">Firmen</div>
    </div>

    <div class="dash"
         *ngIf="isFitAdmin()"
         [routerLink]="['/admin-tool','csv-export','booking']">
      <i class="fa fa-book dash-icon"></i>
      <div class="dash-text">FIT-Anmeldungen</div>
      <div class="text-smaller text-muted">
        für FIT am {{event.eventDate | date:'mediumDate'}}
      </div>
    </div>

  </div>
</div>
