<div>
  <h1>Absolventen-Konto</h1>
  <form [formGroup]="graduateFormGroup">

    <!--gender-->
    <div class="form-row row my-3">
      <div class="col-md-3">
        Anrede:
      </div>

      <div class="col-md-9 px-3">
        <div *ngFor="let gender of genders"
             class="custom-control custom-radio custom-control-inline">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input class="custom-control-input cursor-pointer"
                 type="radio"
                 [id]="'gender' + gender.value"
                 [value]="gender.value"
                 formControlName="gender">

          <label class="custom-control-label my-auto cursor-pointer"
                 [ngClass]="{'disabled': !isEditing}"
                 [for]="'gender' + gender.value"
                 [id]="'genderLabel' + gender.value">
            {{gender.display}}
          </label>
        </div>
      </div>
    </div>

    <!--location and zip-->
    <div class="form-group row mb-1">
      <label for="city" class="col-md-3 col-form-label">Name:</label>
      <div class="col-md-9">
        <div class="d-flex">
          <input class="form-control flex-1 mr-3"
                 type="text"
                 formControlName="firstName"
                 id="firstName"
                 title="firstName"
                 [ngClass]="{'is-invalid': isInvalid('firstName')}"
                 [readonly]="!isEditing">

          <input class="form-control flex-1"
                 type="text"
                 formControlName="lastName"
                 id="lastName"
                 title="lastName"
                 [ngClass]="{'is-invalid': isInvalid('lastName')}"
                 [readonly]="!isEditing">
        </div>
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('firstName')" class="mr-2">Vorname darf nicht leer sein!</span>
          <span *ngIf="isEmpty('lastName')" class="mr-2">Nachname darf nicht leer sein!</span>
        </div>
      </div>
    </div>

    <!--email-->
    <div class="form-group row mb-0">
      <label for="email" class="col-md-3 col-form-label">Email:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="email"
               id="email"
               [ngClass]="{'is-invalid': isInvalid('email')}"
               [readonly]="!isEditing">
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('email')" class="mr-2">Email darf nicht leer sein!</span>
          <span *ngIf="isNoMail('email') && !isEmpty('email')">Ungültige E-Mail!</span>
        </div>
      </div>
    </div>

    <!--phone-->
    <div class="form-group row mb-0">
      <label for="phoneNumber" class="col-md-3 col-form-label">Telefonnummer:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="phoneNumber"
               id="phoneNumber"
               [ngClass]="{'is-invalid': isInvalid('phoneNumber')}"
               [readonly]="!isEditing">

        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('phoneNumber')">Telefonnummer darf nicht leer sein!</span>
        </div>
      </div>
    </div>

    <!--address additions-->
    <div class="form-group row mb-1">
      <label for="addressAdditions" class="col-md-3 col-form-label">Adresszusatz:</label>
      <div class="col-md-9">
        <input class="form-control flex-1"
               type="text"
               formControlName="addressAdditions"
               id="addressAdditions"
               [ngClass]="{'is-invalid': isInvalid('addressAdditions')}"
               [readonly]="!isEditing">
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--street and number-->
    <div class="form-group row mb-1">
      <label class="col-md-3 col-form-label">Anschrift:</label>
      <div class="col-md-9">
        <div class="d-flex">
          <input class="form-control flex-2-5 mr-3"
                 formControlName="street"
                 id="street"
                 title="street"
                 [ngClass]="{'is-invalid': isInvalid('street')}"
                 [readonly]="!isEditing">

          <input class="form-control flex-1"
                 formControlName="streetNumber"
                 id="streetNumber"
                 title="streetNumber"
                 [ngClass]="{'is-invalid': isInvalid('streetNumber')}"
                 [readonly]="!isEditing">
        </div>
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('street')" class="mr-2">Straße darf nicht leer sein!</span>
          <span *ngIf="isEmpty('streetNumber')" class="mr-2">Hausnummer darf nicht leer sein!</span>
        </div>
      </div>
    </div>

    <!--location and zip-->
    <div class="form-group row mb-1">
      <label class="col-md-3 col-form-label"></label>
      <div class="col-md-9">
        <div class="d-flex">
          <input class="form-control flex-1 mr-3"
                 formControlName="zipCode"
                 id="zipCode"
                 title="zipCode"
                 [ngClass]="{'is-invalid': isInvalid('zipCode')}"
                 [readonly]="!isEditing">

          <input class="form-control flex-2-5"
                 formControlName="city"
                 id="city"
                 title="city"
                 [ngClass]="{'is-invalid': isInvalid('city')}"
                 [readonly]="!isEditing">
        </div>
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('zipCode')" class="mr-2">Postleitzahl darf nicht leer sein!</span>
          <span *ngIf="isEmpty('city')" class="mr-2">Ort darf nicht leer sein!</span>
        </div>
      </div>
    </div>
  </form>

  <div class="d-flex">
    <button class="btn btn-primary text-bold ml-auto"
            *ngIf="!isEditing"
            (click)="enableEditing()">
      <i class="fa fa-pencil mr-1"></i>
      <span>Daten bearbeiten</span>
    </button>

    <button class="btn btn-danger text-bold ml-auto"
            *ngIf="isEditing"
            (click)="cancel()">
      <i class="fa fa-times mr-1"></i>
      <span>Abbrechen</span>
    </button>

    <button class="btn btn-success text-bold ml-2"
            *ngIf="isEditing"
            (click)="updateGraduate()">
      <i class="fa fa-download mr-1"></i>
      <span>Speichern</span>
    </button>
  </div>
</div>
