<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">Kontakt und Anmerkungen</h2>
    <p>Bitte geben Sie hier die Daten der Kontaktperson an, mit der das FIT-Organisationsteam Sie für Rückfragen
      erreichen
      kann. An diese Emailadresse wird auch die Anmeldebestätigung versandt.</p>
  </div>

  <h5 class="text-bold">Kontaktperson</h5>

  <form [formGroup]="stepFormGroup">

    <div class="form-group row">
      <label for="firstName" class="col-md-3 col-form-label">Vorname:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="firstName"
               id="firstName">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastName" class="col-md-3 col-form-label">Nachname:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="lastName"
               id="lastName">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label">Email:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="email"
               id="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="phone" class="col-md-3 col-form-label">Telefonnummer:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="phone"
               id="phone">
      </div>
    </div>

    <div class="form-group row">
      <label for="remarks" class="col-md-3 col-form-label">Anmerkungen:</label>
      <div class="col-md-9">
      <textarea class="form-control"
                id="remarks"
                rows="4"
                formControlName="remarks">
      </textarea>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"
               formControlName="termsAccepted">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        Ich gestatte hiermit, dass die erfassten Informationen für die Erstellung einer gedruckten FIT Broschüre
        verwendet
        werden dürfen
      </label>
    </div>
  </form>
</div>
