<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">FIT-Kontakt und Anmerkungen</h2>
    <p>Bitte geben Sie hier die Daten der Kontaktperson an, mit der das FIT-Organisationsteam Sie für Rückfragen
      erreichen kann. An diese Emailadresse wird auch die Anmeldebestätigung versandt.</p>
  </div>

  <h5 class="text-bold">Kontaktperson</h5>

  <form [formGroup]="formGroup">

    <!--gender-->
    <div class="form-row row my-3">
      <div class="col-md-3">
        Anrede:*
      </div>

      <div class="col-md-9 px-3">
        <div *ngFor="let gender of genders"
             class="custom-control custom-radio custom-control-inline">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input class="custom-control-input cursor-pointer"
                 type="radio"
                 [id]="'fitContactGender' + gender.value"
                 [value]="gender.value"
                 formControlName="fitContactGender">

          <label class="custom-control-label my-auto cursor-pointer"
                 [for]="'fitContactGender' + gender.value"
                 [id]="'genderLabel' + gender.value">
            {{gender.display}}
          </label>
        </div>
      </div>
    </div>

    <!--first name-->
    <div class="form-group row mb-0">
      <label for="fitContactFirstName" class="col-md-3 col-form-label">Vorname:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Vorname"
               formControlName="fitContactFirstName"
               id="fitContactFirstName"
               (change)="onInputChanged()"
               [ngClass]="{'is-invalid': isInvalid('fitContactFirstName')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('fitContactFirstName')">Vorname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--last name-->
    <div class="form-group row mb-0">
      <label for="fitContactLastName" class="col-md-3 col-form-label">Nachname:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Nachname"
               formControlName="fitContactLastName"
               id="fitContactLastName"
               (change)="onInputChanged()"
               [ngClass]="{'is-invalid': isInvalid('fitContactLastName')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('fitContactLastName')">Nachname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--email-->
    <div class="form-group row mb-0">
      <label for="fitContactEmail" class="col-md-3 col-form-label">Email:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="E-Mail"
               formControlName="fitContactEmail"
               id="fitContactEmail"
               (change)="onInputChanged()"
               [ngClass]="{'is-invalid': isInvalid('fitContactEmail')}">

        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('fitContactEmail')" class="mr-2">Email darf nicht leer sein!</span>
          <span *ngIf="isNoMail('fitContactEmail') && !isEmpty('fitContactEmail')">Ungültige E-Mail!</span>
        </div>
      </div>
    </div>

    <!--phone-->
    <div class="form-group row mb-0">
      <label for="fitContactPhoneNumber" class="col-md-3 col-form-label">Telefonnummer:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Telefonnummer"
               formControlName="fitContactPhoneNumber"
               id="fitContactPhoneNumber"
               (change)="onInputChanged()"
               [ngClass]="{'is-invalid': isInvalid('fitContactPhoneNumber')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('fitContactPhoneNumber')">Telefonnummer darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="remarks" class="col-md-3 col-form-label">Anmerkungen:</label>
      <div class="col-md-9">
      <textarea class="form-control"
                id="remarks"
                placeholder="sonstige Anmerkungen ...."
                rows="4"
                formControlName="remarks">
      </textarea>
      </div>
    </div>

    <div class="checkbox">
      <label [ngClass]="{'is-invalid': isInvalid('termsAccepted')}"
             id="acceptTerms">
        <input type="checkbox"
               (change)="onInputChanged()"
               formControlName="termsAccepted">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        Ich gestatte hiermit, dass die erfassten Informationen für die Erstellung einer gedruckten FIT Broschüre
        verwendet werden dürfen.
      </label>
      <div class="invalid-message invalid-message-container">
        <div *ngIf="isEmpty('termsAccepted')">Zustimmung muss gegeben werden.</div>
      </div>
    </div>
  </form>
</div>
