<div class="container mt-5">

  <h2 class="text-bold mb-2">Admin-Einstellungen</h2>

  <div class="admin-settings-container border-top d-flex">
    <div class="menu-tab-container border-right">

      <div class="border-bottom">
        <div class="text-bold py-1 px-2">Allgemeine Einstellungen</div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedAdminSettingPage(AdminSettingPage.EmailSMTP)}"
             (click)="setAdminSettingPage(AdminSettingPage.EmailSMTP)">
          <i class="fa fa-fw fa-envelope"></i> E-Mail SMTP
        </div>
        <div class="py-1 px-2 menu-tab selected"
             [ngClass]="{'selected': isSelectedAdminSettingPage(AdminSettingPage.AdminAccounts)}"
             (click)="setAdminSettingPage(AdminSettingPage.AdminAccounts)">
          <i class="fa fa-fw fa-user"></i> Admin-Accounts
        </div>
      </div>

      <div class="border-bottom">
        <div class="text-bold py-1 px-2">Daten pflegen</div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedAdminSettingPage(AdminSettingPage.DataTags)}"
             (click)="setAdminSettingPage(AdminSettingPage.DataTags)">
          <i class="fa fa-fw fa-tags"></i> Tags
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedAdminSettingPage(AdminSettingPage.DataBranches)}"
             (click)="setAdminSettingPage(AdminSettingPage.DataBranches)">
          <i class="fa fa-fw fa-code-fork"></i> Branchen
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedAdminSettingPage(AdminSettingPage.DataResources)}"
             (click)="setAdminSettingPage(AdminSettingPage.DataResources)">
          <i class="fa fa-fw fa-archive"></i> Resourcen
        </div>
      </div>

    </div>
    <div class="px-5 py-3 w-100 h-100">
      <div [ngSwitch]="selectedAdminSettingPage">
        <div *ngSwitchCase="AdminSettingPage.EmailSMTP">
          <fit-settings-email-smtp></fit-settings-email-smtp>
        </div>
        <div *ngSwitchCase="AdminSettingPage.AdminAccounts">
          <fit-settings-admin-accounts></fit-settings-admin-accounts>
        </div>
        <div *ngSwitchCase="AdminSettingPage.DataTags">
          <fit-settings-tags></fit-settings-tags>
        </div>
        <div *ngSwitchCase="AdminSettingPage.DataResources">
          <fit-settings-resources></fit-settings-resources>
        </div>
        <div *ngSwitchCase="AdminSettingPage.DataBranches">
          <fit-settings-branches></fit-settings-branches>
        </div>
      </div>
    </div>
  </div>
</div>
