<div class="container mt-5">

  <h2 class="text-bold mb-2">Admin-Einstellungen</h2>

  <div class="admin-settings-container border-top d-flex">
    <div class="menu-tab-container border-right">

      <div class="border-bottom">
        <div class="text-bold py-1 px-2">Allgemeine Einstellungen</div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.EmailSMTP)}"
             (click)="setSelectedSettingTab(SettingTab.EmailSMTP)">
          <i class="fa fa-fw fa-envelope mr-1"></i>E-Mail SMTP
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.EmailSMTP)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="py-1 px-2 menu-tab selected"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.AdminAccounts)}"
             (click)="setSelectedSettingTab(SettingTab.AdminAccounts)">
          <i class="fa fa-fw fa-user mr-1"></i>Admin-Accounts
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.AdminAccounts)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
      </div>

      <div class="border-bottom">
        <div class="text-bold py-1 px-2">Daten pflegen</div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.DataMemberStatus)}"
             (click)="setSelectedSettingTab(SettingTab.DataMemberStatus)">
          <i class="fa fa-fw fa-users mr-1"></i>Member Status
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.DataMemberStatus)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.DataBranches)}"
             (click)="setSelectedSettingTab(SettingTab.DataBranches)">
          <i class="fa fa-fw fa-code-fork mr-1"></i>Branchen
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.DataBranches)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.DataResources)}"
             (click)="setSelectedSettingTab(SettingTab.DataResources)">
          <i class="fa fa-fw fa-archive mr-1"></i>Resourcen
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.DataResources)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.DataTags)}"
             (click)="setSelectedSettingTab(SettingTab.DataTags)">
          <i class="fa fa-fw fa-tags mr-1"></i>Tags
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.DataTags)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.DataPackages)}"
             (click)="setSelectedSettingTab(SettingTab.DataPackages)">
          <i class="fa fa-fw fa-star mr-1"></i>Fit-Pakete
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.DataPackages)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
      </div>

      <div class="border-bottom">
        <div class="text-bold py-1 px-2">Weitere Einstellungen</div>
        <div class="py-1 px-2 menu-tab"
             [ngClass]="{'selected': isSelectedSettingTab(SettingTab.FitLockedPage)}"
             (click)="setSelectedSettingTab(SettingTab.FitLockedPage)">
          <i class="fa fa-fw fa-lock mr-1"></i>FIT Gesperrt-Seite
          <div class="ml-auto text-smaller" *ngIf="hasSettingTabChanges(SettingTab.FitLockedPage)">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="w-100 h-100">
      <div [hidden]="selectedSettingTab !== SettingTab.EmailSMTP">
        <fit-settings-email-smtp (changeHappened)="setChangesOnTab(SettingTab.EmailSMTP, $event)"></fit-settings-email-smtp>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.AdminAccounts">
        <fit-settings-admin-accounts (changeHappened)="setChangesOnTab(SettingTab.AdminAccounts, $event)"></fit-settings-admin-accounts>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.DataTags">
        <fit-settings-tags (changeHappened)="setChangesOnTab(SettingTab.DataTags, $event)"></fit-settings-tags>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.DataMemberStatus">
        <fit-settings-member-status (changeHappened)="setChangesOnTab(SettingTab.DataMemberStatus, $event)"></fit-settings-member-status>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.DataResources">
        <fit-settings-resources (changeHappened)="setChangesOnTab(SettingTab.DataResources, $event)"></fit-settings-resources>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.DataBranches">
        <fit-settings-branches (changeHappened)="setChangesOnTab(SettingTab.DataBranches, $event)"></fit-settings-branches>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.DataPackages">
        <fit-settings-packages (changeHappened)="setChangesOnTab(SettingTab.DataPackages, $event)"></fit-settings-packages>
      </div>
      <div [hidden]="selectedSettingTab !== SettingTab.FitLockedPage">
        <fit-settings-locked-page (changeHappened)="setChangesOnTab(SettingTab.FitLockedPage, $event)"></fit-settings-locked-page>
      </div>
    </div>
  </div>
</div>
