@import "../../../../styles/fit-global-styles";

.admin-settings-container {
  min-height: 720px;

  .menu-tab-container {
    min-width: 260px;

    .menu-tab {
      cursor: pointer;
      color: #4f4f4f;
      display: flex;
      align-items: center;

      &:hover {
        background-color: whitesmoke;
        color: #2d2d2d;
      }

      &.selected {
        background-color: $primary;
        color: white;
      }
    }
  }
}
