<div class="smaller-container my-5">

  <h2 class="text-bold">Firmen-Code beantragen</h2>
  <p class="text-justify">Wenn Sie sich zum ersten Mal beim FIT anmelden wollen können Sie hier einen Code für die
    Anmeldung beantragen. Sollten Sie schon einmal beim FIT teilgenommen haben, können Sie auch
    <button class="btn btn-link" [routerLink]="['/fit','code-vergessen']">hier</button>
    einen Code mit einem bestehenden Konto beantragen.
  </p>

  <form [formGroup]="formGroup"
        [ngClass]="{'disabled-element': isLoading}">

    <h4>Firma</h4>

    <!--company name-->
    <div class="form-group row mb-0">
      <label for="companyName" class="col-md-3 col-form-label">Firmenname:*</label>
      <div class="col-md-9">
        <input class="form-control"
               formControlName="companyName"
               id="companyName"
               placeholder="Firmenname"
               [ngClass]="{'is-invalid': isInvalid('companyName')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('companyName')">Firmenname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--street and number-->
    <div class="form-group row mb-0">
      <label for="street" class="col-md-3 col-form-label">Anschrift:*</label>
      <div class="col-md-9">

        <div class="d-flex">
          <input class="form-control flex-2-5 mr-3"
                 formControlName="street"
                 id="street"
                 placeholder="Straße"
                 [ngClass]="{'is-invalid': isInvalid('street')}">

          <input class="form-control flex-1"
                 formControlName="streetNumber"
                 id="streetNumber"
                 placeholder="Hausnummer"
                 [ngClass]="{'is-invalid': isInvalid('streetNumber')}">
        </div>
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('street')" class="mr-2">Straße darf nicht leer sein!</span>
          <span *ngIf="isEmpty('streetNumber')">Hausnummer darf nicht leer sein!</span>
        </div>
      </div>
    </div>

    <!--location and zip-->
    <div class="form-group row mb-0">
      <label for="city" class="col-md-3 col-form-label"></label>
      <div class="col-md-9">

        <div class="d-flex">
          <input class="form-control flex-1 mr-3"
                 formControlName="zipCode"
                 id="zipCode"
                 placeholder="Postleitzahl"
                 [ngClass]="{'is-invalid': isInvalid('zipCode')}">

          <input class="form-control flex-2-5"
                 formControlName="city"
                 id="city"
                 placeholder="Ort"
                 [ngClass]="{'is-invalid': isInvalid('city')}">
        </div>
        <div class="invalid-message invalid-message-container">
          <span *ngIf="isEmpty('zipCode')" class="mr-2">Postleitzahl darf nicht leer sein!</span>
          <span *ngIf="isEmpty('city')">Ort darf nicht leer sein!</span>
        </div>
      </div>
    </div>

    <h4>Kontaktperson</h4>

    <!--gender-->
    <div class="form-row row mb-3">
      <div class="col-md-3">
        Anrede:*
      </div>

      <div class="col-md-9 px-3">
        <div *ngFor="let gender of genders"
             class="custom-control custom-radio custom-control-inline">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input class="custom-control-input cursor-pointer"
                 type="radio"
                 [id]="'cat' + gender.value"
                 [value]="gender.value"
                 formControlName="gender">

          <label class="custom-control-label my-auto cursor-pointer"
                 [for]="'cat' + gender.value">
            {{gender.display}}
          </label>
        </div>
      </div>
    </div>

    <!--first name-->
    <div class="form-group row mb-0">
      <label for="firstName" class="col-md-3 col-form-label">Vorname:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Vorname"
               formControlName="firstName"
               id="firstName"
               [ngClass]="{'is-invalid': isInvalid('firstName')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('firstName')">Vorname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--last name-->
    <div class="form-group row mb-0">
      <label for="lastName" class="col-md-3 col-form-label">Nachname:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Nachname"
               formControlName="lastName"
               id="lastName"
               [ngClass]="{'is-invalid': isInvalid('lastName')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('lastName')">Nachname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--email-->
    <div class="form-group row mb-0">
      <label for="email" class="col-md-3 col-form-label">Email:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="E-Mail"
               formControlName="email"
               id="email"
               [ngClass]="{'is-invalid': isInvalid('email')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('email')">Email darf nicht leer sein!</div>
          <span *ngIf="isNoMail('email') && !isEmpty('email')">Ungültige E-Mail!</span>
        </div>
      </div>
    </div>

    <!--phone-->
    <div class="form-group row mb-0">
      <label for="phoneNumber" class="col-md-3 col-form-label">Telefonnummer:*</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               placeholder="Telefonnummer"
               formControlName="phoneNumber"
               id="phoneNumber"
               [ngClass]="{'is-invalid': isInvalid('phoneNumber')}">

        <div class="invalid-message invalid-message-container">
          <div *ngIf="isEmpty('phoneNumber')">Telefonnummer darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <label class="col-md-3 col-form-label pt-0">Zielgruppe(n):</label>
      <div class="col-md-9">
        <div *ngFor="let branch of branches; let index = index"
             class="checkbox mx-2">
          <label [id]="'checkboxBranch' + index">
            <input type="checkbox"
                   (change)="branchChanged(branch, $event)"
                   [checked]="isBranchSelected(branch)">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            {{branch.name}}
          </label>
        </div>
      </div>
    </div>

    <button class="btn btn-block btn-lg text-bold btn-primary mt-2"
            (click)="persistCompany()">
      Abschicken
    </button>
  </form>
</div>
