<div class="header sticky-top p-3 floating-effect-light">
  <div class="container d-flex">
    <img src="../../../../../assets/logo_fit.png"
         class="img-keep-ratio no-outline-button" alt="FIT"
         [routerLink]="''">

    <div class="mt-auto font-weight-bold">
      am {{event.eventDate | date:'mediumDate'}}, HTBLA Leonding
    </div>

    <span class="flex-filler"></span>
    <img src="../../../../../assets/logo_abs.png"
         class="img-keep-ratio mt-auto" alt="Absolventenverein">
  </div>
</div>
