@import "../../../styles/fit-variables";
@import "../../../styles/fit-global-styles";

.dashboard-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 25px;


}
