<div class="container p-5">

  <div class="dashboard-grid mt-5">

    <div class="dash"
         [routerLink]="['/admin-tool/anmeldungen']">
      <i class="fa fa-list dash-icon"></i>
      <div class="dash-text">Anmeldungen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool/anmeldungen']">
      <i class="fa fa-calendar-plus-o dash-icon"></i>
      <div class="dash-text">FIT anlegen</div>
    </div>
    <div class="dash">Gamma</div>

    <div class="dash">Delta</div>

    <div class="dash">Epsilon</div>

    <div class="dash">Zeta</div>

    <div class="dash">Eta</div>

    <div class="dash">Theta</div>

  </div>
</div>
