<fit-select-event-modal></fit-select-event-modal>

<div class="container p-5">

  <div class="d-flex justify-content-center">
    <h2 class="m-0">Fit am {{event?.eventDate | date:'longDate'}}</h2>

    <button type="button"
            id="btnEventModal"
            class="btn btn-link ml-2 my-auto"
            data-toggle="modal"
            data-target="#selectEventModal"
            (click)="openSelectionModal()">
      <i class="fa fa-pencil"></i>
      <span>FIT ändern/erstellen</span>
    </button>
  </div>

  <div class="dashboard-grid mt-4">

    <div class="dash"
         [routerLink]="['/admin-tool','fit-bearbeiten']">
      <i class="fa fa-calendar-plus-o dash-icon"></i>
      <div class="dash-text">FIT bearbeiten</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','anmeldungen']">
      <i class="fa fa-book dash-icon"></i>
      <div class="dash-text">FIT Anmeldungen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','firmen-bestaetigen']">
      <i class="fa fa-check-square-o dash-icon"></i>
      <div class="dash-text">Firmen bestätigen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','aenderungsprotokoll']">
      <i class="fa fa-code-fork dash-icon"></i>
      <div class="dash-text">Änderungsprotokoll</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','mail-vorlagen']">
      <i class="fa fa-envelope dash-icon"></i>
      <div class="dash-text">Email-Vorlagen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','vortraege']">
      <i class="fa fa-graduation-cap dash-icon"></i>
      <div class="dash-text">Vorträge</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','absolventen']">
      <i class="fa fa-user dash-icon"></i>
      <div class="dash-text">Absolventen</div>
    </div>


    <div class="dash"
         [routerLink]="['/admin-tool','firmen']">
      <i class="fa fa-users dash-icon"></i>
      <div class="dash-text">Firmen</div>
    </div>

  </div>
</div>
