<div class="container my-6">

  <div *ngIf="!isFitAdmin()">
    <h2 class="m-0 text-center">AbsLeo - Admin</h2>
  </div>

  <div *ngIf="isFitAdmin()"
       class="d-flex justify-content-center">
    <h2 class="m-0">Fit am {{event?.eventDate | date:'longDate'}}</h2>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle text-bold rounded-0 ml-3"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown">
        Anderen FIT auswählen
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngFor="let dropdownEvent of events, let last = last">
          <div class="dropdown-item cursor-pointer py-3 px-4"
               [ngClass]="{'active': dropdownEvent.id == event.id}"
               (click)="selectEvent(dropdownEvent)">
            <div class="d-flex">
              <span>{{ dropdownEvent.eventDate | date:'longDate' }}</span>
              <div *ngIf="dropdownEvent.registrationState.isCurrent"
                   class="ml-auto my-auto badge badge-danger">
                Current
              </div>
            </div>
            <div class="text-muted text-smaller">
              Anmeldung von <span class="text-bold">{{ dropdownEvent.registrationStart | date:'longDate' }}</span>
              bis <span class="text-bold">{{ dropdownEvent.registrationEnd| date:'longDate' }}</span>
            </div>
          </div>
          <hr *ngIf="!last" class="m-0">
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-grid mt-4">

    <div class="dash"
         *ngIf="isWritableFitAdmin()"
         [routerLink]="['/admin-tool','fit-anlegen']">
      <i class="fa fa-calendar-plus-o dash-icon"></i>
      <div class="dash-text">Neuen FIT anlegen</div>
    </div>

    <div class="dash"
         *ngIf="isWritableFitAdmin()"
         [routerLink]="['/admin-tool','fit-bearbeiten']">
      <i class="fa fa-calendar dash-icon"></i>
      <div class="dash-text">FIT bearbeiten</div>
      <div class="text-smaller text-muted">
        für FIT am {{event.eventDate | date:'mediumDate'}}
      </div>
    </div>

    <div class="dash"
         *ngIf="isFitAdmin()"
         [routerLink]="['/admin-tool','anmeldungen']">
      <i class="fa fa-book dash-icon"></i>
      <div class="dash-text">FIT Anmeldungen</div>
      <div class="text-smaller text-muted">
        für FIT am {{event.eventDate | date:'mediumDate'}}
      </div>
    </div>

    <div class="dash"
         *ngIf="isFitAdmin()"
         [routerLink]="['/admin-tool','vortraege']">
      <i class="fa fa-graduation-cap dash-icon"></i>
      <div class="dash-text">Vorträge</div>
      <div class="text-smaller text-muted">
        für FIT am {{event.eventDate | date:'mediumDate'}}
      </div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','absolventen']">
      <i class="fa fa-user dash-icon"></i>
      <div class="dash-text">Absolventen</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','firmen']">
      <i class="fa fa-users dash-icon"></i>
      <div class="dash-text">Firmen</div>
    </div>

    <div class="dash"
         *ngIf="isWritableAdmin()"
         [routerLink]="['/admin-tool','firmen-bestaetigen']">
      <i class="fa fa-check-square-o dash-icon"></i>
      <div class="dash-text">Firmen bestätigen</div>
    </div>

    <div class="dash"
         *ngIf="isWritableAdmin()"
         [routerLink]="['/admin-tool','aenderungsprotokoll']">
      <i class="fa fa-code-fork dash-icon"></i>
      <div class="dash-text">Änderungsprotokoll</div>
    </div>

    <div class="dash"
         [routerLink]="['/admin-tool','csv-export']">
      <i class="fa fa-file-excel-o dash-icon"></i>
      <div class="dash-text">CSV-Export</div>
    </div>

    <div class="dash"
         *ngIf="isWritableAdmin()"
         [routerLink]="['/admin-tool','mail-vorlagen']">
      <i class="fa fa-map-o dash-icon"></i>
      <div class="dash-text">E-Mail-Vorlagen</div>
    </div>

    <div class="dash"
         *ngIf="isWritableAdmin()"
         [routerLink]="['/admin-tool','mails-versenden']">
      <i class="fa fa-envelope dash-icon"></i>
      <div class="dash-text">E-Mail versenden</div>
    </div>

    <div class="dash"
         *ngIf="isWritableFitAdmin()"
         [routerLink]="['/admin-tool','einstellungen']">
      <i class="fa fa-cogs dash-icon"></i>
      <div class="dash-text">Einstellungen</div>
    </div>

  </div>
</div>
