<div class="modal fade" id="locationPickerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Standplatz auswählen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="event != null">

        <div class="d-flex mb-2">

          <div class="mr-3">
            <div class="badge badge-secondary location-legend-badge">&nbsp;</div>
            Belegt
          </div>

          <div class="mr-3">
            <div class="badge badge-success location-legend-badge">&nbsp;</div>
            Ausgewählt
          </div>

          <div class="mr-3">
            <div class="badge badge-primary location-legend-badge">&nbsp;</div>
            Kategorie B
          </div>

          <div class="mr-3">
            <div class="badge badge-danger location-legend-badge">&nbsp;</div>
            Kategorie A
          </div>

          <div class="flex-filler"></div>

          <fit-hint-icon [message]="'Die Kategorie wird durch das zuvor ausgewählte \'FIt-Paket\' festgelegt.'">
          </fit-hint-icon>
          <div class="ml-2 text-bold">Kategorie: {{currentCategory == 'B' ? 'B' : 'A + B'}}</div>
        </div>

        <div id="accordion" role="tablist">
          <div class="card"
               *ngFor="let area of event.areas"
               [ngClass]="{'highlighted-border': selectedAreaId == area.id}">

            <div class="card-header collapse-head" role="tab"
                 (click)="toggleCollapse(area.id)"
                 [ngClass]="{'highlighted': selectedAreaId == area.id}">
              <h5 class="mb-0">
                {{area.designation}}
              </h5>
            </div>

            <div [id]="'areaCollapse' + area.id"
                 class="collapse position-relative" role="tabpanel">
              <img class="img-fluid"
                   [src]="area.graphic"
                   alt="Probleme beim Laden des Bildes"/>

              <div *ngFor="let location of area.locations"
                   class="fit-location badge"
                   (click)="selectLocation(location)"
                   [ngClass]="{'badge-secondary': location.isOccupied,
                               'badge-primary': location.category == 'B' && !location.isOccupied && location.id != selectedLocation?.id,
                               'badge-danger': location.category == 'A' && !location.isOccupied && location.id != selectedLocation?.id,
                               'badge-success': location.id == selectedLocation?.id,
                               'not-allowed': !isLocationAllowed(location)}"
                   [style.cursor]="getLocationCursor(location)"
                   [style.top]="location.yCoordinate + '%'"
                   [style.left]="location.xCoordinate + '%'">
                {{location.number}}
              </div>

            </div>
          </div>
        </div>

        <div class="location-detail"
             [ngClass]="{'shown': selectedLocation != null,
                         'hidden': selectedLocation == null}">
          <div class="mt-2 d-flex">
            <h3 class="d-inline mt-2">Gewählter Standplatz:</h3>
            <span class="badge badge-success selected-location-badge my-auto mx-2">{{selectedLocation?.number}}</span>
            <span class="my-auto">im {{getAreaOfLocation(selectedLocation)?.designation}}</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button"
                id="btnDismissModal"
                class="btn btn-secondary"
                data-dismiss="modal">
          Abbrechen
        </button>

        <button type="button"
                id="btnSaveLocation"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="saveLocation()"
                [ngClass]="{'disabled-element btn-outline-secondary': selectedLocation == null}">
          Standplatz speichern
        </button>

      </div>
    </div>
  </div>
</div>
