<div class="d-flex align-items-center">
  <input type="text" id="code-part1" maxlength="4" title="codePart"
         [ngClass]="{'is-invalid': hasFailed}"
         [disabled]="disabled"
         placeholder="_ _ _ _"
         (keyup)="emitCode()"
         class="code-part form-control text-center"/>

  <span class="mx-1"></span>

  <input type="text" id="code-part2" maxlength="4" title="codePart"
         [ngClass]="{'is-invalid': hasFailed}"
         [disabled]="disabled"
         placeholder="_ _ _ _"
         (keyup)="emitCode()"
         class="code-part form-control text-center"/>

  <span class="mx-1"></span>

  <input type="text" id="code-part3" maxlength="4" title="codePart"
         [ngClass]="{'is-invalid': hasFailed}"
         [disabled]="disabled"
         placeholder="_ _ _ _"
         (keyup)="emitCode()"
         class="code-part form-control text-center"/>
</div>
