<div class="d-flex header w-100 bg-whitesmoke border-bottom border-right p-2">
  <h3 class="my-auto ml-2">Admin Accounts <i class="fa fa-user"></i></h3>
</div>

<div class="px-5 py-3">

  <h4 class="mb-3">Neuen Admin anlegen</h4>

  <div [ngClass]="{'disabled-element': inputsDisabled}">
    <form [formGroup]="formGroup" autocomplete="off">

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Rolle: </label>
        <div class="col-sm-9">
          <select type="password"
                  title="role"
                  formControlName="role"
                  class="form-control">
            <option *ngFor="let role of userRoles" [value]="role">{{ role }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-0">
        <label class="col-sm-3 col-form-label">E-Mail: </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="email"
                 [ngClass]="{'is-invalid': isInvalid('email')}"
                 placeholder="E-Mail">
          <div class="invalid-message invalid-message-container">
            <span *ngIf="isEmpty('email')">Email darf nicht leer sein!</span>
            <span *ngIf="isNoMail('email') && !isEmpty('email')">Ungültige E-Mail!</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-0">
        <label class="col-sm-3 col-form-label">Passwort: </label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 [ngClass]="{'is-invalid': isInvalid('password')}"
                 autocomplete="new-password"
                 placeholder="Passwort">
          <div class="invalid-message invalid-message-container">
          <span
            *ngIf="isEmpty('password') || isTooShort('password')">Das Passwort muss mindestens 6 Zeichen lang sein!</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-0">
        <label class="col-sm-3 col-form-label">Passwort bestätigen: </label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="confirmPassword"
                 [ngClass]="{'is-invalid': isInvalid('confirmPassword')}"
                 autocomplete="new-password"
                 placeholder="Passwort bestätigen">
          <div class="invalid-message invalid-message-container">
            <span *ngIf="isNotMatching('confirmPassword')">Passwort stimmt nicht überein!</span>
          </div>
        </div>
      </div>

      <div class="d-flex mt-3">
        <button class="btn btn-success big-rounded-button text-bold ml-auto"
                type="submit"
                (click)="createAdmin()">
          <i class="fa fa-user-plus"></i> Admin anlegen
        </button>
      </div>
    </form>
  </div>

  <div class="mt-2">

    <h3>Admin Account Liste</h3>
    <table class="table">
      <tr>
        <th>E-Mail</th>
        <th>Rolle</th>
        <th></th>
      </tr>
      <tr *ngFor="let fitUser of fitUsers">
        <td>{{ fitUser.email }}</td>
        <td>{{ fitUser.role }}</td>
        <td>
          <div class="icon-button" (click)="deleteUser(fitUser)">
            <i class="fa fa-times text-danger"></i>
          </div>
        </td>
      </tr>
    </table>

    <div *ngIf="isLoading"
         class="mt-4">
      <fit-loading-spinner [message]="'Admins werden geladen ...'"></fit-loading-spinner>
    </div>

  </div>
</div>
