@import "../../../../../styles/fit-badges";
@import "../../../../../styles/fit-global-styles";

.header {
  height: 75px;
}

.tag-container {
  height: 600px;
  width: 100%;
  border-width: 2px;

  button {
    border-radius: 0;
  }

  input {
    border-radius: 0;
    background-color: whitesmoke;
    border-right: none;
    border-top: none;
  }
}
