@import "../../../../../styles/fit-badges";

.tag-container {
  height: 600px;
  width: 100%;
  border-width: 2px;

  button {
    border-radius: 0;
  }

  input {
    border-radius: 0;
    background-color: whitesmoke;
    border-right: none;
    border-top: none;
  }
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.flex-line-breaks {
  min-width: 0;
  white-space: normal;
}
