@import "../../../../styles/fit-global-styles";
@import "../../../../styles/fit-variables";

.card {
  @extend .floating-effect;
  border: none;
}

.input-header {
  font-weight: bold;
  font-size: 1.2em;
}

.event-save-btn {
  @extend .floating-effect;
  min-width: 250px;
  font-size: 1.2em;
}

.area-container {

  .area-img-container {
    width: 220px;
    position: relative;
    border: solid 2px $primary-color;

    .area-img {
      @extend .img-keep-ratio;
      @extend .floating-effect;
      max-width: 100%;
    }

    .img-overlay {
      @extend .centered-element;
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      font-size: 2.5em;
      cursor: pointer;
      color: white;
      background-color: transparentize($primary-color, 0.15);

      -webkit-transition: opacity 300ms linear;
      transition: opacity 300ms linear;

      &:hover {
        opacity: 1;
      }
    }
  }
}
