<fit-location-picker-modal [selectedLocation]="selectedLocation"
                           [event]="event"
                           (selectedLocationChange)="setLocation($event)"
                           [currentCategory]="selectedPackage == Package.BasicPack ? 'B' : 'A'">
</fit-location-picker-modal>

<div class="small-container my-5">

  <h2>Anmeldung von {{booking?.company.name}} bearbeiten</h2>

  <div class="mt-4">
    <form [formGroup]="bookingFormGroup">

      <!--company name-->
      <div class="form-group row mb-1">
        <label for="companyName" class="col-md-3 col-form-label">Firmenname:</label>
        <div class="col-md-9">
          <input class="form-control"
                 formControlName="companyName"
                 id="companyName"
                 readonly>
        </div>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>

      <!--address additions-->
      <div class="form-group row mb-1">
        <label for="addressAdditions" class="col-md-3 col-form-label">Adresszusatz:</label>
        <div class="col-md-9">
          <input class="form-control flex-1"
                 type="text"
                 formControlName="addressAdditions"
                 id="addressAdditions"
                 readonly>
        </div>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>

      <!--street and number-->
      <div class="form-group row mb-1">
        <label class="col-md-3 col-form-label">Anschrift:</label>
        <div class="col-md-9">
          <div class="d-flex">
            <input class="form-control flex-2-5 mr-3"
                   formControlName="street"
                   id="street"
                   title="streetNumber"
                   readonly>

            <input class="form-control flex-1"
                   formControlName="streetNumber"
                   id="streetNumber"
                   title="streetNumber"
                   readonly>
          </div>
          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <!--location and zip-->
      <div class="form-group row mb-1">
        <label class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
          <div class="d-flex">
            <input class="form-control flex-1 mr-3"
                   formControlName="zipCode"
                   id="zipCode"
                   title="zipCode"
                   readonly>

            <input class="form-control flex-2-5"
                   formControlName="city"
                   id="city"
                   title="city"
                   readonly>
          </div>
          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <h3>Firmenkontakt</h3>

      <!--gender-->
      <div class="form-group row mb-0">
        <label for="gender" class="col-md-3 col-form-label">Anrede:</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="gender"
                 id="gender"
                 readonly>
          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <!--location and zip-->
      <div class="form-group row mb-1">
        <label for="city" class="col-md-3 col-form-label">Name:</label>
        <div class="col-md-9">
          <div class="d-flex">
            <input class="form-control flex-1 mr-3"
                   type="text"
                   formControlName="firstName"
                   id="firstName"
                   title="firstName"
                   readonly>

            <input class="form-control flex-1"
                   type="text"
                   formControlName="lastName"
                   id="lastName"
                   title="lastName"
                   readonly>
          </div>
          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <!--email-->
      <div class="form-group row mb-0">
        <label for="contactEmail" class="col-md-3 col-form-label">Email:</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="contactEmail"
                 id="contactEmail"
                 readonly>
          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <!--phone-->
      <div class="form-group row mb-0">
        <label for="contactPhoneNumber" class="col-md-3 col-form-label">Telefonnummer:</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="contactPhoneNumber"
                 id="contactPhoneNumber"
                 readonly>

          <div class="invalid-message invalid-message-container">
          </div>
        </div>
      </div>

      <h3>Folder Daten</h3>

      <!--phoneNumber-->
      <div class="form-group row mb-1">
        <label for="phoneNumber" class="col-md-3 col-form-label">Telefonnummer:*</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="tel"
                 formControlName="phoneNumber"
                 id="phoneNumber"
                 placeholder="Telefonnummer"
                 [ngClass]="{'is-invalid': isInvalid('phoneNumber')}">
          <div class="invalid-message invalid-message-container">
            <span *ngIf="isEmpty('phoneNumber')">Telefonnummer darf nicht leer sein!</span>
          </div>
        </div>
      </div>

      <!--email and web-->
      <div class="form-group row mb-1">
        <label for="email" class="col-md-3 col-form-label">
          Email:*
        </label>
        <div class="col-md-9">
          <input class="form-control"
                 type="email"
                 formControlName="email"
                 id="email"
                 placeholder="Email"
                 [ngClass]="{'is-invalid': isInvalid('email')}">
          <div class="invalid-message invalid-message-container">
            <span *ngIf="isEmpty('email')" class="mr-2">E-Mail darf nicht leer sein!</span>
            <span *ngIf="isNoMail('email') && !isEmpty('email')">Ungültige E-Mail!</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-1">
        <label for="homepage" class="col-md-3 col-form-label">Homepage:*</label>
        <div class="col-md-9 ">
          <input class="form-control "
                 type="url"
                 formControlName="homepage"
                 id="homepage"
                 placeholder="Homepage"
                 [ngClass]="{'is-invalid': isInvalid('homepage')}">
          <div class="invalid-message invalid-message-container">
            <span *ngIf="isEmpty('homepage')">Homepage darf nicht leer sein!</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-1">
        <label for="branch" class="col-md-3 col-form-label">Branche:*</label>
        <div class="col-md-9 ">
          <input class="form-control"
                 formControlName="branch"
                 id="branch"
                 placeholder="Tätigkeitsfeld der Firma"
                 [ngClass]="{'is-invalid': isInvalid('branch')}">
          <div class="invalid-message invalid-message-container">
            <div *ngIf="isEmpty('branch')">Branche darf nicht leer sein!</div>
          </div>
        </div>
      </div>

      <div>
        <label class="my-auto">Firmenbeschreibung:</label>
      </div>

      <div class="my-2"
           id="description"
           [froalaEditor]="options"
           [(froalaModel)]="companyDescription"
           (input)="updateDescription()">
      </div>

      <!--establishments-->
      <div class="mb-4">
        <h5 class="text-bold mb-3">Ihre Niederlassungen
        </h5>

        <div class="form-group ">
          <div class="d-flex mb-1">
            <label for="establishmentsAut" class="my-auto">
              Standorte Österreich:
            </label>

            <div class="flex-filler"></div>

            <label for="establishmentAutCount" class="my-auto mr-1">Anzahl:</label>
            <input #establishmentAutCount
                   class="number-input form-control"
                   [value]="bookingFormGroup.value.establishmentsCountAut"
                   (input)="verifyAutEstablishmentsCount()"
                   id="establishmentAutCount" type="number"/>
          </div>
          <fit-tag-input id="establishmentsAut"
                         [placeholder]="'Standort hinzufügen'"
                         [secondaryPlaceholder]="'Mit Enter bestätigen'"
                         [tags]="bookingFormGroup.value.establishmentsAut"
                         (tagsChanges)="updateEstablishments('establishmentsAut', $event)">
          </fit-tag-input>
        </div>

        <div class="form-group">
          <div class="d-flex mb-1">
            <label for="establishmentsInt" class="my-auto">
              Standorte International:
            </label>

            <div class="flex-filler"></div>

            <label for="establishmentIntCount" class="my-auto mr-1">Anzahl:</label>
            <input #establishmentIntCount
                   class="number-input form-control"
                   [value]="bookingFormGroup.value.establishmentsCountInt"
                   (input)="verifyIntEstablishmentsCount()"
                   id="establishmentIntCount" type="number"/>
          </div>
          <fit-tag-input id="establishmentsInt"
                         [placeholder]="'Standort hinzufügen'"
                         [secondaryPlaceholder]="'Mit Enter bestätigen'"
                         [tags]="bookingFormGroup.value.establishmentsInt"
                         (tagsChanges)="updateEstablishments('establishmentsInt', $event)">
          </fit-tag-input>
        </div>
      </div>

      <div class="row">

        <!--desiredBranches-->
        <div class="col-6">
          <h5 class="text-bold mb-3">Gesuchte Fachrichtungen</h5>

          <div *ngFor="let branch of branches; let index = index"
               class="checkbox mx-2">
            <label [id]="'checkboxBranch' + index">
              <input type="checkbox"
                     [id]="'checkbox' + (index+1)"
                     (change)="branchChanged(branch, $event)"
                     [checked]="isBranchSelected(branch)">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              {{branch.name}}
            </label>
          </div>
        </div>

        <!--provide-->
        <div class="col-6">
          <h5 class="text-bold mb-3">Vergeben Sie ...</h5>

          <div class="checkbox mx-2">
            <label id="providesSummerJob">
              <input type="checkbox"
                     formControlName="providesSummerJob">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Ferialjobs/Ferialpraktika
            </label>
          </div>

          <div class="checkbox mx-2">
            <label id="providesThesis">
              <input type="checkbox"
                     formControlName="providesThesis">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Diplomarbeiten
            </label>
          </div>
        </div>

      </div>

      <div class="mb-4">
        <h5 class="text-bold">Am FIT vertreten Ihre Firma:</h5>

        <table cellpadding="5" width="60%">
          <ng-container *ngFor="let representative of representatives; let index = index">

            <tr>
              <th colspan="3" class="pt-3">
                <div class="d-flex">
                  <span>{{index + 1}}. Vertreter/in</span>
                  <button class="ml-auto btn btn-link p-0 text-bold"
                          style="color: darkred"
                          *ngIf="representatives.length > 1"
                          (click)="deleteRepresentative(representative)">
                    Vertreter löschen <i class="fa fa-trash"></i>
                  </button>
                </div>
              </th>
            </tr>

            <tr>
              <td width="15%">
                <label [for]="'representativeName' + index">Name:*</label>
              </td>
              <td width="85%">
                <input class="form-control"
                       [id]="'representativeName' + index"
                       type="text"
                       name="name"
                       [(ngModel)]="representative.name"
                       [ngModelOptions]="{standalone: true}"
                       ngDefaultControl
                       (blur)="onRepresentativeTouch(representative, 'name')"
                       [ngClass]="{'is-invalid': isRepresentativeEmpty(representative, 'name')}"
                       title="representativeName">
              </td>
              <td rowspan="2">
                <img [src]="representative.image"
                     class="contact-image"
                     alt="Bild kann nicht angezeigt werden"
                     width="60" height="86" style="object-fit: cover"
                     fitFilePicker
                     [accept]="'image/*'"
                     [maxSize]="2000000"
                     (filePick)="representativeImagePicked($event, representative)"/>
                <div class="invalid-message invalid-message-container"></div>
              </td>
            </tr>

            <tr>
              <td>
                <label [for]="'representativeEmail' + index">E-Mail:*</label>
                <div class="invalid-message invalid-message-container"></div>
              </td>
              <td>
                <input class="form-control"
                       type="text"
                       [id]="'representativeEmail' + index"
                       [(ngModel)]="representative.email"
                       [ngModelOptions]="{standalone: true}"
                       (blur)="onRepresentativeTouch(representative, 'email')"
                       [ngClass]="{'is-invalid': isRepresentativeEmpty(representative, 'email')}"
                       title="representativeEmail">

                <div class="invalid-message invalid-message-container">
                  <span *ngIf="isRepresentativeEmpty(representative, 'name')"
                        class="mr-1">Name darf nicht leer sein!</span>
                  <span *ngIf="isRepresentativeEmpty(representative, 'email')">E-Mail darf nicht leer sein!</span>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>
        <button *ngIf="representatives.length < 3"
                class="btn btn-success my-2 text-bold"
                id="btnAddRepresentative"
                (click)="onRepresentativeAdd()">
          <i class="fa fa-user-plus mr-1"></i>
          Vertreter/in hinzufügen
        </button>
      </div>

      <div class="form-group row">
        <label for="remarks" class="col-md-3 col-form-label">Benötigte Gegenstände</label>
        <div class="col-md-9">
       <textarea class="form-control"
                 id="additionalInfo"
                 rows="4"
                 formControlName="additionalInfo"
                 title="additionalInfo">
       </textarea>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="text-bold m-0">FIT-Paket</h5>

        <div *ngFor="let fitPackage of packages"
             class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input cursor-pointer"
                 type="radio"
                 formControlName="fitPackage"
                 [id]="'package' + fitPackage.discriminator"
                 [value]="fitPackage"
                 title="package">

          <label class="custom-control-label my-auto cursor-pointer"
                 [for]="'package' + fitPackage.discriminator"
                 [id]="'packageLabel' + fitPackage.discriminator">
            {{fitPackage.name}}
          </label>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="text-bold mb-2">Wählen Sie Ihren Standplatz</h5>

        <div class="d-flex">
          <div class="text-bold my-auto mr-1">
            Gewählter Platz:
          </div>

          <div [ngSwitch]="selectedLocation != null"
               class="my-auto ml-1">
            <div *ngSwitchCase="true">Nr: {{selectedLocation.number}}</div>
            <div *ngSwitchCase="false">keinen Platz ausgewählt</div>
          </div>

          <button type="button"
                  id="btnLocationModal"
                  class="btn btn-primary mx-5"
                  data-toggle="modal"
                  data-target="#locationPickerModal">
            Standplatz wählen
          </button>

        </div>
      </div>

      <h5 class="text-bold">Kontaktperson</h5>
      <div class="form-row row my-3">
        <div class="col-md-3">
          Anrede:*
        </div>

        <div class="col-md-9 px-3">
          <div *ngFor="let gender of genders"
               class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input cursor-pointer"
                   type="radio"
                   [id]="'gender' + gender.value"
                   [value]="gender.value"
                   formControlName="gender">

            <label class="custom-control-label my-auto cursor-pointer"
                   [for]="'gender' + gender.value"
                   [id]="'genderLabel' + gender.value">
              {{gender.display}}
            </label>
          </div>
        </div>
      </div>


      <!--first name-->
      <div class="form-group row mb-0">
        <label for="firstName" class="col-md-3 col-form-label">Vorname:*</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="firstName"
                 id="firstName2"
                 [ngClass]="{'is-invalid': isInvalid('firstName')}">

          <div class="invalid-message invalid-message-container">
            <div *ngIf="isEmpty('firstName')">Vorname darf nicht leer sein!</div>
          </div>
        </div>
      </div>

      <!--last name-->
      <div class="form-group row mb-0">
        <label for="lastName" class="col-md-3 col-form-label">Nachname:*</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="lastName"
                 id="lastName2"
                 [ngClass]="{'is-invalid': isInvalid('lastName')}">

          <div class="invalid-message invalid-message-container">
            <div *ngIf="isEmpty('lastName')">Nachname darf nicht leer sein!</div>
          </div>
        </div>
      </div>

      <!--email-->
      <div class="form-group row mb-0">
        <label for="contactEmail" class="col-md-3 col-form-label">Email:*</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="contactEmail"
                 id="contactEmail"
                 [ngClass]="{'is-invalid': isInvalid('email')}">

          <div class="invalid-message invalid-message-container">
            <span *ngIf="isEmpty('email')" class="mr-2">Email darf nicht leer sein!</span>
            <span *ngIf="isNoMail('email') && !isEmpty('email')">Ungültige E-Mail!</span>
          </div>
        </div>
      </div>

      <!--phone-->
      <div class="form-group row mb-0">
        <label for="contactPhoneNumber" class="col-md-3 col-form-label">Telefonnummer:*</label>
        <div class="col-md-9">
          <input class="form-control"
                 type="text"
                 formControlName="contactPhoneNumber"
                 id="contactPhoneNumber"
                 [ngClass]="{'is-invalid': isInvalid('phoneNumber')}">

          <div class="invalid-message invalid-message-container">
            <div *ngIf="isEmpty('phoneNumber')">Telefonnummer darf nicht leer sein!</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="remarks" class="col-md-3 col-form-label">Anmerkungen:</label>
        <div class="col-md-9">
      <textarea class="form-control"
                id="remarks"
                rows="4"
                formControlName="remarks">
      </textarea>
        </div>
      </div>

      <!--logo-->
      <div class="form-group row mb-3 mt-3">
        <label for="logo" class="col-md-3 col-form-label">Logo (max. 2MB):</label>
        <div class="input-group col-md-9"
             fitFilePicker
             [accept]="'image/*'"
             [maxSize]="2000000"
             (filePick)="filePicked($event)">
          <input class="form-control"
                 id="logo"
                 type="text"
                 [value]="logo?.name"
                 placeholder="Logo auswählen..."
                 disabled>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Durchsuchen</button>
          </div>
        </div>
      </div>
    </form>

    <div style="overflow: hidden; max-width: inherit">
      <pre style="word-break: break-all">{{ bookingFormGroup.value | json }}</pre>
    </div>
  </div>
</div>
