@import "../../../../../styles/fit-global-styles";

#logo {
  cursor: pointer;
}

.logo-display {
  object-fit: contain;
}

.drop-zone {
  position: relative;
  background-color: #f9f9f9;
  border: dashed 2px grey;
  border-radius: .50rem;
  color: grey;
  font-size: 1.25rem;
  user-select: none;
  cursor: default;
  transition: all 0.25s;

  .drop-zone-text {
    pointer-events: none;
  }
}

.is-drag {
  background-color: #efefef;
  border: dashed 2px #0069d9;
  color: #0069d9;
}
.contact-image {
  cursor: pointer;
  transition: opacity .25s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}
.pointer:not(.disabled) {
  cursor: pointer;
}

.disabled {
  cursor: pointer;
  filter: brightness(100%);

  &:hover {
    filter: brightness(110%);
  }
}

.enabled {
  filter: brightness(60%);
}

.card {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.2s;

  .card-header {
    font-size: 26px;
    font-weight: bold;
  }

  .list-group {
    font-size: 18px;

    .list-group-item {
      padding: 8px 20px;
      background-color: inherit;
    }
  }

  .package-price {
    font-size: 26px;
    font-weight: bold;
  }

  .stars {
    font-size: 0.75rem;
  }

  .bottom-border {
    margin: 0 auto;
    border-bottom: solid 1px;
  }

  &:hover:not(.disabled) {
    -webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition-duration: 0.2s;

    filter: brightness(110%);
  }
}

.sub-text {
  font-size: 0.7em;
}

.bg-sponsor {
  background-color: #dea700;
}

#presentation {
  cursor: pointer;
}

table {
  font-size: 18px;
  width: 100%;
}

td, th {
  padding: 1px 5px;
}

.border-top {
  border-top: solid 2px black;
}




.number-input {
  padding: .20rem .50rem;
  width: 4rem;
}

#editor{
  max-width: 802px !important;
}
