<div class="container py-4">
  <h3 class="text-bold">
    <i class="fa fa-users"></i> Firmen CSV-Export
  </h3>
  <div class="w-100 border-bottom"></div>

  <div class="d-flex flex-column justify-content-center align-items-center mt-3 mb-2">
    <div class="text-bold text-larger mb-1">Einträge: {{getEntryCount()}}</div>
    <button class="btn btn-success text-bold big-rounded-button"
            (click)="downloadCSV()">
      <i class="fa fa-file-excel-o fa-bold mr-1"></i>
      CSV exportieren
    </button>
  </div>

  <div class="d-flex mt-4">
    <div>
      <h4 class="text-bold">Spalten-Einschränkungen</h4>

      <div class="d-flex">

        <div class="mr-3">
          <div class="card fixed-width mb-3">
            <div class="card-header text-bold">
              <fit-custom-checkbox
                [preventMargins]="true"
                [message]="'Firma'"
                [(value)]="csv.isCompanyEnabled">
              </fit-custom-checkbox>
            </div>

            <div class="card-body"
                 [ngClass]="{'disabled-element': !csv.isCompanyEnabled}">

              <fit-custom-checkbox
                [message]="'Name'"
                [(value)]="csv.company.name">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Straße'"
                [(value)]="csv.company.street">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Hausnummer'"
                [(value)]="csv.company.houseNumber">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Postleitzahl'"
                [(value)]="csv.company.zipCode">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Ort'"
                [(value)]="csv.company.location">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Adresszusatz'"
                [(value)]="csv.company.addition">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Mitgliedsbeitrag'"
                [(value)]="csv.company.memberPaymentAmount">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Mitglied seit'"
                [(value)]="csv.company.memberSince">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Mitgliedsstatus'"
                [(value)]="csv.company.memberStatus">
              </fit-custom-checkbox>

            </div>
          </div>

          <div class="card fixed-width mb-3">
            <div class="card-header text-bold">
              <fit-custom-checkbox
                [preventMargins]="true"
                [message]="'Firmen-Kontakt'"
                [(value)]="csv.isContactEnabled">
              </fit-custom-checkbox>
            </div>

            <div class="card-body"
                 [ngClass]="{'disabled-element': !csv.isContactEnabled}">

              <fit-custom-checkbox
                [message]="'Anrede'"
                [(value)]="csv.contact.gender">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Name'"
                [(value)]="csv.contact.name">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'E-Mail'"
                [(value)]="csv.contact.email">
              </fit-custom-checkbox>

              <fit-custom-checkbox
                [message]="'Telefon'"
                [(value)]="csv.contact.phone">
              </fit-custom-checkbox>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--tag filter-->
    <div class="mx-3 flex-2">

      <div class="d-flex align-items-center">
        <h4 class="text-bold my-3">Branchen-Filter</h4>
        <div class="ml-auto mr-3 text-danger">{{ getBranchFilterText() }}</div>
      </div>

      <fit-custom-checkbox *ngFor="let branch of branches"
                           [(value)]="branch.checked"
                           (valueChange)="updateCompanies()"
                           [message]="branch.branch.name">
      </fit-custom-checkbox>

      <div class="d-flex align-items-center">
        <h4 class="text-bold my-3">Member-Status-Filter</h4>
        <div class="ml-auto mr-3 text-danger">{{ getMemberStatusText() }}</div>
      </div>

      <fit-custom-checkbox *ngFor="let memberStatus of memberStati"
                           [(value)]="memberStatus.checked"
                           (valueChange)="updateCompanies()"
                           [message]="memberStatus.memberStatus.name">
      </fit-custom-checkbox>

      <div class="d-flex align-items-center">
        <h4 class="text-bold mt-4">Tag-Filter</h4>
        <div class="ml-auto mr-3 text-danger">{{ getTagFilterText() }}</div>
      </div>

      <div class="d-flex align-items-center mb-3 text-bold">
        <div class="mr-3">Tag-Verknüpfung:</div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input cursor-pointer"
                 type="radio" id="orCondition"
                 [value]="false"
                 (change)="updateCompanies()"
                 [(ngModel)]="useAndCondition">

          <label class="custom-control-label my-auto cursor-pointer"
                 for="orCondition">
            Oder
          </label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input cursor-pointer"
                 type="radio" id="andCondition"
                 [value]="true"
                 (change)="updateCompanies()"
                 [(ngModel)]="useAndCondition">

          <label class="custom-control-label my-auto cursor-pointer"
                 for="andCondition">
            Und
          </label>
        </div>
      </div>

      <div class="d-flex flex-wrap">
        <div *ngFor="let checkedTag of tags" class="m-1">
          <fit-custom-checkbox [(value)]="checkedTag.checked"
                               [message]="checkedTag.tag.value"
                               (valueChange)="updateCompanies()">
          </fit-custom-checkbox>
        </div>
      </div>

      <div class="d-flex justify-content-around mt-2">
        <button class="btn btn-primary" (click)="checkAllTags()">
          <i class="fa fa-check-square-o"></i> Alle auswählen
        </button>
        <button class="btn btn-secondary" (click)="uncheckAllTags()">
          <i class="fa fa-square-o"></i> Alle abwählen
        </button>
      </div>

    </div>

    <div class="flex-1">
      <h4 class="text-bold">Ergebnis-Liste ({{getEntryCount()}})</h4>

      <div class="scroll-list-container">
        <div *ngFor="let company of companies"
             class="floating-effect p-3 mb-2 rounded text-bold">
          {{company.name}}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading"
     class="loading-container">
  <div class="centered-element">
    <fit-loading-spinner [message]="'Firmen werden geladen ...'"></fit-loading-spinner>
  </div>
</div>
