<div class="m-5">
    <!--pending companies-->
    <div class="p-3">

      <h2 class="mb-4">Nicht bestätigte Vorträge</h2>

      <table class="table">
        <tr>
          <th>Firmenname</th>
          <th>Vortrag</th>
          <th>Beschreibung</th>
          <th></th>
          <th></th>
        </tr>

        <tr *ngFor="let lecture of listOfLectures" class="bg-warning">
          <td class="text-bold align-middle">{{lecture.companyName}}</td>
          <td>
            {{lecture.presentationTitle}}
          </td>
          <td>
            {{lecture.presentationDescr}}
          </td>
          <td class="align-middle d-flex flex-column">
            <button class="btn btn-sm btn-success buttonwidth"
                    (click)="verifyLecture(lecture)">
              <i class="fa fa-fw fa-check"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger buttonwidth"
                    data-toggle="modal" data-target="#myModal"
                    (click)="setChosenEntry(lecture)">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </td>
        </tr>

      </table>

      <h2 class="mb-4">Bestätigte Vorträge</h2>

      <table class="table">
        <tr>
          <th>Firmenname</th>
          <th>Vortrag</th>
          <th>Beschreibung</th>
          <th></th>
        </tr>

        <tr *ngFor="let entry of listOfAccepted" class="bg-success">
          <td class="text-bold align-middle">{{entry.companyName}}</td>
          <td>
            {{entry.presentationTitle}}
          </td>
          <td>
            {{entry.presentationDescr}}
          </td>
          <td>
            <button class="btn btn-sm btn-danger buttonwidth"
                    (click)="kickLecture(entry)">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </td>
        </tr>

      </table>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Bestätigen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Wollen Sie den ausgewählten Vortrag der Firma {{chosenEntry.companyName}} wirklich löschen?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
              <button type="button" class="btn btn-danger" (click)="removeLecture(this.chosenEntry)">Akzeptieren</button>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>
