<fit-presentation-detail-modal [presentation]="openedPresentation"></fit-presentation-detail-modal>

<div class="d-flex flex-column m-5">

  <!--pending companies-->
  <div class="pt-3">

    <div class="d-flex">
      <!--header-->
      <div [ngSwitch]="displayedList"
           class="mb-4">
        <h2 *ngSwitchCase="IsAccepted.Accepted">Bestätigte Vorträge</h2>
        <h2 *ngSwitchCase="IsAccepted.Pending">Offene Vorträge</h2>
        <h2 *ngSwitchCase="IsAccepted.Rejected">Abgelehnte Vorträge</h2>
      </div>

      <div class="d-flex justify-content-center align-items-center ml-auto mb-3">
        <div class="text-bold mr-2">Anmeldestatus:</div>

        <div class="btn-group">
          <button class="btn btn-light border-0 opened"
                  [ngClass]="{'active': !presentationLocked}"
                  (click)="setPresentationsOpen()">
            <i class="fa fa-forward"></i> Offen
          </button>
          <button class="btn btn-light border-0 locked"
                  [ngClass]="{'active': presentationLocked}"
                  (click)="setPresentationsLocked()">
            <i class="fa fa-lock"></i> Gesperrt
          </button>
        </div>
      </div>
    </div>

    <!--tabs-->
    <ul class="nav nav-tabs">
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Accepted}"
           (click)="displayedList = IsAccepted.Accepted">
          <i class="fa fa-check text-success mr-1"></i>Bestätigte Vorträge
          <span class="badge badge-pill badge-counter ml-1">{{ getListCount(IsAccepted.Accepted) }}</span>
        </a>
      </li>
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Pending}"
           (click)="displayedList = IsAccepted.Pending">
          <i class="fa fa-clock-o text-muted mr-1"></i>Offene Vorträge
          <span class="badge badge-pill badge-counter ml-1">{{ getListCount(IsAccepted.Pending) }}</span>
        </a>
      </li>
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Rejected}"
           (click)="displayedList = IsAccepted.Rejected">
          <i class="fa fa-times text-danger mr-1"></i>Abgelehnte Vorträge
          <span class="badge badge-pill badge-counter ml-1">{{ getListCount(IsAccepted.Rejected) }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-1 overflow-y-auto">
    <!--list-->
    <table class="table">
      <tr>
        <th></th>
        <th>Firma</th>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Abteilungen</th>
        <th>Datei</th>
        <th>
          <div *ngIf="displayedList == IsAccepted.Accepted">Raum</div>
        </th>
      </tr>

      <tr *ngFor="let cp of getPresentations()">
        <td class="text-center">
          <button class="btn btn-sm btn-primary details-button"
                  (click)="openedPresentation = cp"
                  data-toggle="modal"
                  data-target="#presentationDetailModal">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </td>
        <td class="text-bold">{{cp.company.name}}</td>
        <td>
          {{cp.presentation.title}}
        </td>
        <td>
          <div class="column-restriction text-muted text-smaller text-justify">
            {{cp.presentation.description | fitTruncate:[180 , ' ...']}}
          </div>
        </td>
        <td>
          <ul class="text-muted m-0">
            <li *ngFor="let branch of cp.presentation.branches">
              {{branch.name}}
            </li>
          </ul>
        </td>
        <td>
          <a *ngIf="cp.presentation.file != null"
             target="_blank" rel="noopener noreferrer"
             [href]="cp.presentation.file?.dataUrl">
            <i class="fa fa-download"></i> {{cp.presentation.file?.name}}
          </a>
        </td>
        <td *ngIf="cp.presentation.isAccepted == IsAccepted.Accepted">
          <div class="d-flex">
            <div class="icon-button mr-2" (click)="editRoomNumber(cp)">
              <i class="fa fa-pencil"></i>
            </div>
            <div [ngSwitch]="cp.presentation.roomNumber">
              <div *ngSwitchCase="''" class="text-muted">ausstehend ...</div>
              <div *ngSwitchDefault>{{cp.presentation.roomNumber}}</div>
            </div>
          </div>
        </td>
        <td *ngIf="cp.presentation.isAccepted == IsAccepted.Pending" class="text-right">
          <button class="btn btn-sm btn-success text-bold mr-2 ml-auto"
                  (click)="acceptPresentation(cp)">
            Bestätigen <i class="fa fa-fw fa-check"></i>
          </button>
          <button class="btn btn-sm btn-danger text-bold"
                  (click)="rejectPresentation(cp)">
            Ablehnen <i class="fa fa-fw fa-times"></i>
          </button>
        </td>
        <td *ngIf="cp.presentation.isAccepted == IsAccepted.Rejected">
        </td>
      </tr>
    </table>

    <div *ngIf="isLoading"
         class="mt-5">
      <fit-loading-spinner [message]="'Vorträge werden geladen ...'"></fit-loading-spinner>
    </div>

    <div *ngIf="!isLoading && getPresentations().length == 0"
         class="mt-7">
      <div [ngSwitch]="displayedList"
           class="text-large text-muted text-center">
        <div *ngSwitchCase="IsAccepted.Accepted">Es wurden noch keine Vorträge bestätigt</div>
        <div *ngSwitchCase="IsAccepted.Pending">Es sind keine offenen Vorträge vorhanden</div>
        <div *ngSwitchCase="IsAccepted.Rejected">Es wurden noch keine Vorträge abgelehnt</div>
      </div>
    </div>

  </div>
</div>
