@import "../../../../styles/fit-global-styles";

.pending-tab {
  cursor: pointer;

  .active {
    color: $primary;
    text-decoration: underline;
  }
}

.badge-counter {
  background-color: #d9d9d9;
  color: black !important;
}

td {
  max-width: 300px;
  min-width: 75px;
  vertical-align: middle;

  .column-restriction {
    max-height: 75px;
    min-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
