@import "../../../../styles/fit-global-styles";

.buttonwidth{
  height: 100%;
  width: 100%;
  cursor:pointer;
}

.pending-tab {
  cursor: pointer;

  .active {
    color: $primary;
    text-decoration: underline;
  }
}
