<div class="m-5">

  <!--pending companies-->
  <div class="p-3">

    <!--header-->
    <div [ngSwitch]="displayedList"
         class="mb-4">
      <h2 *ngSwitchCase="IsAccepted.Accepted">Bestätigte Vorträge</h2>
      <h2 *ngSwitchCase="IsAccepted.Pending">Offene Vorträge</h2>
      <h2 *ngSwitchCase="IsAccepted.Rejected">Abgelehnte Vorträge</h2>
    </div>

    <!--tabs-->
    <ul class="nav nav-tabs">
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Accepted}"
           (click)="displayedList = IsAccepted.Accepted">
          <i class="fa fa-check text-success mr-1"></i>Bestätigte Vorträge
        </a>
      </li>
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Pending}"
           (click)="displayedList = IsAccepted.Pending">
          <i class="fa fa-clock-o text-muted mr-1"></i>Offene Vorträge
        </a>
      </li>
      <li class="nav-item pending-tab">
        <a class="nav-link"
           [ngClass]="{'active': displayedList == IsAccepted.Rejected}"
           (click)="displayedList = IsAccepted.Rejected">
          <i class="fa fa-times text-danger mr-1"></i>Abgelehnte Vorträge
        </a>
      </li>
    </ul>

    <!--list-->
    <table class="table">
      <tr>
        <th>Firma</th>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Abteilungen</th>
        <th>Datei</th>
        <th></th>
      </tr>

      <tr *ngFor="let cp of getPresentations()">
        <td class="text-bold align-middle">{{cp.company.name}}</td>
        <td>{{cp.presentation.title}}</td>
        <td>{{cp.presentation.description}}</td>
        <td></td>
        <td></td>
        <td class="align-middle d-flex">
          <button class="btn btn-sm btn-success buttonwidth"
                  (click)="cp.presentation.isAccepted = IsAccepted.Accepted">
            <i class="fa fa-fw fa-check"></i>
          </button>
          <button class="btn btn-sm btn-danger buttonwidth"
                  data-toggle="modal" data-target="#myModal"
                  (click)="cp.presentation.isAccepted = IsAccepted.Rejected">
            <i class="fa fa-fw fa-times"></i>
          </button>
        </td>
      </tr>
    </table>

  </div>
</div>
