@import "../../../../styles/fit-global-styles";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pending-tab {
  cursor: pointer;

  .active {
    color: $primary;
    text-decoration: underline;
  }
}

.opened.active {
  background-color: $success-color !important;
  color: white !important;
}

.locked.active {
  background-color: $danger-color !important;
  color: white !important;
}

.badge-counter {
  background-color: #d9d9d9;
  color: black !important;
}

td {
  max-width: 300px;
  min-width: 75px;
  vertical-align: middle;

  .column-restriction {
    max-height: 75px;
    min-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.details-button {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 1em;
}
