<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">Stammdaten Ihrer Firma</h2>
    <p>Hier werden die Stammdaten Ihrer Firma angezeigt. Sollten diese nicht mehr auf dem neusten Stand sein, können Sie
      diese jederzeit unter Ihren
      <button class="btn btn-link" (click)="navigateToAccount()">Konto-Einstellungen</button> ändern.
    </p>
  </div>

  <div class="d-flex">
    <h4 class="text-bold">Firmendaten</h4>
    <button class="btn btn-link ml-auto p-0 mb-2"
            (click)="navigateToAccount()">
      Daten ändern
    </button>
  </div>

  <form [formGroup]="stepFormGroup">

    <!--company name-->
    <div class="form-group row mb-1">
      <label for="companyName" class="col-md-3 col-form-label">Firmenname:</label>
      <div class="col-md-9">
        <input class="form-control"
               formControlName="companyName"
               id="companyName"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--address additions-->
    <div class="form-group row mb-1">
      <label for="addressAdditions" class="col-md-3 col-form-label">Adresszusatz:</label>
      <div class="col-md-9">
        <input class="form-control flex-1"
               type="text"
               formControlName="addressAdditions"
               id="addressAdditions"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--street and number-->
    <div class="form-group row mb-1">
      <label for="street" class="col-md-3 col-form-label">Anschrift:</label>
      <div class="col-md-9">
        <div class="d-flex">
          <input class="form-control flex-2-5 mr-3"
                 formControlName="street"
                 id="street"
                 readonly>

          <input class="form-control flex-1"
                 formControlName="streetNumber"
                 id="streetNumber"
                 readonly
                 title="streetNumber">
        </div>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--location and zip-->
    <div class="form-group row mb-1">
      <label for="city" class="col-md-3 col-form-label"></label>
      <div class="col-md-9">
        <div class="d-flex">
          <input class="form-control flex-1 mr-3"
                 formControlName="zipCode"
                 id="zipCode"
                 readonly
                 title="zipCode">

          <input class="form-control flex-2-5"
                 formControlName="city"
                 id="city"
                 readonly>
        </div>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <h4 class="my-0 mr-1 text-bold">Kontaktperson</h4>
      <fit-hint-icon
        [message]="'Dies ist unser Ansprechperson für Ihre Firma. Wenn erwünscht, kann unter Schritt 5 noch eine eigene FIT-Ansprechperson angegben werden'">
      </fit-hint-icon>
    </div>

    <!--gender-->
    <div class="form-row row my-3">
      <div class="col-md-3">
        Anrede:
      </div>

      <div class="col-md-9 px-3">
        <div *ngFor="let gender of genders"
             class="custom-control custom-radio custom-control-inline">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input class="custom-control-input cursor-pointer"
                 type="radio"
                 [id]="'gender' + gender.value"
                 [value]="gender.value"
                 formControlName="gender">

          <label class="custom-control-label my-auto cursor-pointer"
                 [for]="'gender' + gender.value"
                 [id]="'genderLabel' + gender.value">
            {{gender.display}}
          </label>
        </div>
      </div>
    </div>


    <!--first name-->
    <div class="form-group row mb-0">
      <label for="firstName" class="col-md-3 col-form-label">Vorname:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="firstName"
               id="firstName"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--last name-->
    <div class="form-group row mb-0">
      <label for="lastName" class="col-md-3 col-form-label">Nachname:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="lastName"
               id="lastName"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--email-->
    <div class="form-group row mb-0">
      <label for="contactEmail" class="col-md-3 col-form-label">Email:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="contactEmail"
               id="contactEmail"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

    <!--phone-->
    <div class="form-group row mb-0">
      <label for="contactPhoneNumber" class="col-md-3 col-form-label">Telefonnummer:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="text"
               formControlName="contactPhoneNumber"
               id="contactPhoneNumber"
               readonly>
        <div class="invalid-message invalid-message-container">
        </div>
      </div>
    </div>

  </form>
</div>
