<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">Allgemeines zur Firma</h2>
    <p>Diese allgemeinen Angaben zu Ihrer Firma helfen unseren Schülern, Kontakt mit Ihnen aufzunehmen.</p>
  </div>

  <form [formGroup]="stepFormGroup">

    <!--company name-->
    <div class="form-group row">
      <label for="companyName" class="col-md-3 col-form-label">Firmenname: *</label>
      <div class="col-md-9">
        <input class="form-control"
               formControlName="companyName"
               id="companyName"
               placeholder="Firmenname"
               [ngClass]="{'is-invalid': isInvalid('companyName')}">
        <div *ngIf="isInvalid('companyName')" class="invalid-message">
          <div *ngIf="isRequired('companyName')">Firmenname darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--address additions-->
    <div class="form-group row">
      <label for="addressAdditions" class="col-md-3 col-form-label">Adresszusatz:</label>
      <div class="col-md-9">
        <input class="form-control flex-1"
               type="text"
               formControlName="addressAdditions"
               id="addressAdditions"
               placeholder="Zusatz"
               [ngClass]="{'is-invalid': isInvalid('addressAdditions')}">
        <div *ngIf="isInvalid('addressAdditions')" class="invalid-message">
          <div *ngIf="isRequired('addressAdditions')">Addresse darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--street and number-->
    <div class="form-group row">
      <label for="street" class="col-md-3 col-form-label">Anschrift:</label>
      <div class="col-md-9 d-flex">

        <input class="form-control flex-2-5 mr-3"
               formControlName="street"
               id="street"
               placeholder="Straße"
               [ngClass]="{'is-invalid': isInvalid('street')}">

        <input class="form-control flex-1"
               formControlName="streetNumber"
               id="streetNumber"
               placeholder="Hausnummer"
               [ngClass]="{'is-invalid': isInvalid('streetNumber')}">

        <div *ngIf="isInvalid('street')" class="invalid-message">
          <div *ngIf="isRequired('street')">Straßenname darf nicht leer sein!</div>
        </div>
        <div *ngIf="isInvalid('streetNumber')" class="invalid-message">
          <div *ngIf="isRequired('streetNumber')">Straßennummer darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--location and zip-->
    <div class="form-group row">
      <label for="city" class="col-md-3 col-form-label"></label>
      <div class="col-md-9 d-flex">

        <input class="form-control flex-1 mr-3"
               formControlName="zipCode"
               id="zipCode"
               placeholder="Postleitzahl"
               [ngClass]="{'is-invalid': isInvalid('zipCode')}">

        <input class="form-control flex-2-5"
               formControlName="city"
               id="city"
               placeholder="Ort"
               [ngClass]="{'is-invalid': isInvalid('city')}">

        <div *ngIf="isInvalid('zipCode')" class="invalid-message">
          <div *ngIf="isRequired('zipCode')">Postleitzahl darf nicht leer sein!</div>
        </div>
        <div *ngIf="isInvalid('city')" class="invalid-message">
          <div *ngIf="isRequired('city')">Ort darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--phoneNumber-->
    <div class="form-group row">
      <label for="phoneNumber" class="col-md-3 col-form-label">Telefonnummer:</label>
      <div class="col-md-9">
        <input class="form-control"
               type="tel"
               formControlName="phoneNumber"
               id="phoneNumber"
               placeholder="Telefonnummer"
               [ngClass]="{'is-invalid': isInvalid('phoneNumber') && isTouched('phoneNumber')}">
        <div *ngIf="isInvalid('phoneNumber') && isTouched('phoneNumber')" class="invalid-message">
          <div *ngIf="isRequired('phoneNumber')">Telefonnummer darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--email and web-->
    <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label">
        Email:
        <fit-hint-icon
          [message]="'Diese Email wird nur für den Fit Folder verwendert, und nicht zur Kontaktaufnahme von uns.'"></fit-hint-icon>
      </label>
      <div class="col-md-9">
        <input class="form-control"
               type="email"
               formControlName="email"
               id="email"
               placeholder="Email"
               [ngClass]="{'is-invalid': isInvalid('email') && isTouched('email')}">
        <div *ngIf="isInvalid('email') && isTouched('email')" class="invalid-message">
          <div *ngIf="isRequired('email')">Email darf nicht leer sein!</div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label for="homepage" class="col-md-3 col-form-label">Homepage:</label>
      <div class="col-md-9 ">
        <input class="form-control "
               type="url"
               formControlName="homepage"
               id="homepage"
               placeholder="Homepage"
               [ngClass]="{'is-invalid': isInvalid('homepage') && isTouched('homepage')}">
        <div *ngIf="isInvalid('homepage') && isTouched('homepage')" class="invalid-message">
          <div *ngIf="isRequired('homepage')">Homepage darf nicht leer sein!</div>
        </div>
      </div>
    </div>

    <!--logo-->
    <div class="form-group row">
      <label for="logo" class="col-md-3 col-form-label">Logo (max. 2MB):</label>
      <div class="input-group col-md-9"
           fitFilePicker
           [accept]="'image/*'"
           [maxSize]="2000000"
           (filePick)="filePicked($event)">
        <input class="form-control"
               id="logo"
               type="text"
               [value]="logo?.name"
               placeholder="Logo auswählen..."
               disabled>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Druchsuchen</button>
        </div>
      </div>
    </div>

    <!--image and dropzone-->
    <div class="row" style="height: 100px; max-height: 100px">
      <div class="col-md-3">
        <img *ngIf="logo != undefined && logo.dataURL != undefined"
             [src]="logo?.dataURL"
             class="logo-display w-100 h-100">
      </div>
      <div class="col-md-9">
        <div fitFileDropzone
             [accept]="'image\/.'"
             [maxSize]="2000000"
             (fileDrop)="filePicked($event)"
             (dragenter)="isDrag = true"
             (dragleave)="isDrag = false"
             (drop)="isDrag = false"
             class="drop-zone h-100 w-100"
             [ngClass]="{'is-drag': isDrag}">
          <div class="drop-zone-text centered-element">Logo: Drag & Drop</div>
        </div>
      </div>
    </div>

  </form>
</div>
