#logo {
  cursor: pointer;
}

.logo-display {
  object-fit: contain;
}

.drop-zone {
  position: relative;
  background-color: #F9F9F9;
  border: dashed 2px grey;
  border-radius: .50rem;
  color: grey;
  font-size: 1.25rem;
  user-select: none;
  cursor: default;
  transition: all 0.25s;

  .drop-zone-text {
    pointer-events: none;
  }
}

.is-drag {
  background-color: #efefef;
  border: dashed 2px dodgerblue;
  color: dodgerblue;
}

.input-group-btn {
  .btn {
    border-bottom-right-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
  }
}
