<h2 class="text-bold">Details zur Firma</h2>
<div>
<span>Diese detaillierteren Angaben zu Ihrer Firma helfen unseren Besuchern, die passenden Firmen zu finden. Bitte seien
  Sie bei den gesuchten Berufen so spezifisch wie möglich.</span>
</div>

<form>

  <div class="form-group row">
    <label for="branch" class="col-md-3 col-form-label">Branche:</label>
    <div class="col-md-9">
      <input class="form-control"
             type="text"
             id="branch">
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-md-3 col-form-label">Beschreibung Ihres Tätigkeitsfeldes (ca. 20 Sätze):</label>
    <div class="col-md-9">
      <textarea class="form-control" id="description" rows="4"></textarea>
    </div>
  </div>

  <h4 class="text-bold">Ihre Niederlassungen</h4>

  <div class="form-group row">
    <label for="officesAut" class="col-md-3 col-form-label">Standorte Österreich:</label>
    <div class="col-md-9">
      <input class="form-control"
             type="text"
             id="officesAut">
    </div>
  </div>

  <div class="form-group row">
    <label for="officesInt" class="col-md-3 col-form-label">Standorte International:</label>
    <div class="col-md-9">
      <input class="form-control"
             type="text"
             id="officesInt">
    </div>
  </div>


  <h4 class="text-bold my-2">Vergeben Sie ...</h4>

  <div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        Ferialjobs/Ferialpraktika
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        Diplomarbeiten
      </label>
    </div>
  </div>

  <h4 class="text-bold my-2">Gesuchte Fachrichtungen</h4>

  <div class="checkbox">
    <label>
      <input type="checkbox">
      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      Informatik / Medientechnik
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox">
      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      Elektronik und Technische Informatik
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox">
      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      Biomedizin- und Gesundheitstechnik
    </label>
  </div>

</form>
