.number-input {
  padding: .20rem .50rem;
  width: 4rem;
}
#editor{
  max-width: 802px !important;
}
.error {
  border-color:red;
  color: red;
}
.error-msg {
  display: block;
  font-size: 75%;
  bottom: -2em;
  color: red;
}
