<fit-send-custom-mail-modal [companies]="mailTargetCompanies"
                            [companiesHaveBooking]="filter.useCurrentFitOnly">
</fit-send-custom-mail-modal>

<div class="d-flex flex-column mh-100 m-5"
     [ngClass]="{'disabled-element': isMailSelectionOpen}">

  <h1>E-Mails versenden</h1>

  <div class="row border-top border-bottom mt-3 flex-1">

    <fit-send-mails-filter class="col-md-3 border-right overflow-y-auto pt-3"
                           [(filter)]="filter"
                           (filterChange)="filterCompanies()">
    </fit-send-mails-filter>

    <fit-send-mails-list class="col-md-9 p-0"
                         [companies]="filteredCompanies"
                         (onOpenMailSelection)="openMailSelection($event)">
    </fit-send-mails-list>
  </div>
</div>

<fit-send-mails-select-mail class="sidenav"
                            (close)="changeMailSelection(false)"
                            [companies]="mailTargetCompanies"
                            [companiesHaveBooking]="filter.useCurrentFitOnly"
                            [ngClass]="{'show': isMailSelectionOpen}">
</fit-send-mails-select-mail>

<div *ngIf="isLoading"
     class="loading-container">
  <div class="centered-element">
    <fit-loading-spinner [message]="'Firmen werden geladen ...'"></fit-loading-spinner>
  </div>
</div>
