<fit-send-custom-mail-modal [companies]="mailTargetCompanies"
                            [companiesHaveBooking]="filter.useCurrentFitOnly">
</fit-send-custom-mail-modal>

<div class="d-flex flex-column h-100 mh-100 m-5"
     [ngClass]="{'disabled-element': isMailSelectionOpen}">

  <div>
    <h1>E-Mails versenden</h1>
  </div>

  <div class="d-flex flex-1 border-top border-bottom mt-3">
    <fit-send-mails-filter class="border-right overflow-y-auto float-left"
                           [(filter)]="filter"
                           (filterChange)="filterCompanies()">
    </fit-send-mails-filter>

    <fit-send-mails-list class="p-0 d-flex flex-column h-100 mh-100"
                         [companies]="filteredCompanies"
                         (onOpenMailSelection)="openMailSelection($event)">
    </fit-send-mails-list>
  </div>
</div>

<fit-send-mails-select-mail class="sidenav"
                            (close)="changeMailSelection(false)"
                            [companies]="mailTargetCompanies"
                            [companiesHaveBooking]="filter.useCurrentFitOnly"
                            [ngClass]="{'show': isMailSelectionOpen}">
</fit-send-mails-select-mail>

<div *ngIf="isLoading"
     class="full-screen-loading-container">
  <div class="centered-element">
    <fit-loading-spinner [message]="'Firmen werden geladen ...'"></fit-loading-spinner>
  </div>
</div>
