<tag-input [(ngModel)]="tags"
           [modelAsStrings]="true"
           [placeholder]="placeholder"
           [secondaryPlaceholder]="secondaryPlaceholder"
           [separatorKeyCodes]="[13,188]"
           [onlyFromAutocomplete]="autoComplete"
           [ripple]="false"
           [addOnBlur]="true"
           [ngModelOptions]="{standalone: true}"
           [theme]="'fit-tag-input-theme'"
           (onFocus)="focus = true"
           (onBlur)="focus = false"
           (onAdd)="updatedTags()"
           (onRemove)="updatedTags()"
           [ngClass]="{'tag-input-focused': focus}">
  <ng-template let-item="item" let-index="index">
    <div class="d-flex align-middle" style="height: 1em">
      <div (click)="removeItem(index)">
        <i class="fa fa-times mr-1"></i>
      </div>
      <div class="pb-3">
        {{ item }}
      </div>
    </div>
  </ng-template>
  <tag-input-dropdown *ngIf="autoComplete"
                      [showDropdownIfEmpty]="true"
                      [autocompleteItems]="autoCompleteItems">
  </tag-input-dropdown>
</tag-input>
