<div class="m-5">

  <h1>Firmen</h1>

  <table class="table table-striped" fitSortableTable (onListSorted)="onSorted($event)">
    <thead>
    <tr>
      <th class="cursor-pointer p-0">
        <fit-sortable-column [sortColumnName]="'name'" [sortDirection]="'asc'">Name</fit-sortable-column>
      </th>
      <th class="cursor-pointer p-0">
        <fit-sortable-column [sortColumnName]="'address.street'" [sortDirection]="''">Straße</fit-sortable-column>
      </th>
      <th class="cursor-pointer p-0">
        <fit-sortable-column [sortColumnName]="'address.zipCode'" [sortDirection]="''">Ort</fit-sortable-column>
      </th>
      <th class="cursor-pointer p-0">
        <fit-sortable-column [sortColumnName]="'contact.firstName'" [sortDirection]="''">Kontaktperson</fit-sortable-column>
      </th>
      <th class="cursor-pointer p-0">
        <fit-sortable-column [sortColumnName]="'contact.email'" [sortDirection]="''">E-Mail</fit-sortable-column>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
      <td>{{company?.name}}</td>
      <td>{{company?.address.street}} {{company?.address.streetNumber}}</td>
      <td>{{company?.address.zipCode}} {{company?.address.city}}</td>
      <td>{{company?.contact.firstName}} {{company?.contact.lastName}}</td>
      <td>{{company?.contact.email}}</td>
      <td>
        <div class="icon-button" (click)="routeToCompanyDetails(company)">
          <i class="fa fa-pencil fa-1-5x"></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="loading" class="text-center mt-4">
    <i class="fa fa-4x fa-pulse fa-spinner"></i>
  </div>
</div>
