<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">Ihr Auftreten am FIT</h2>
    <p>Diese Angaben helfen uns, Ihr Auftreten am FIT so optimal wie möglich zu gestalten.</p>
  </div>

  <form [formGroup]="stepFormGroup">

    <div class="mb-4">
      <h5 class="text-bold">Am FIT vertreten Ihre Firma:</h5>

      <table cellpadding="5" width="60%">
        <ng-container *ngFor="let representative of representatives; let index = index">

          <tr>
            <th colspan="3" class="pt-3">
              <div class="d-flex">
                <span>{{index + 1}}. Vertreter/in</span>
                <button class="ml-auto btn btn-link p-0 text-bold"
                        style="color: darkred"
                        *ngIf="representatives.length > 1"
                        (click)="deleteRepresentative(representative)">
                  Vertreter löschen <i class="fa fa-trash"></i>
                </button>
              </div>
            </th>
          </tr>

          <tr>
            <td width="15%">
              <label for="representativeName">Name:</label>
            </td>
            <td width="85%">
              <input class="form-control"
                     type="text"
                     name="name"
                     [(ngModel)]="representative.name"
                     [ngModelOptions]="{standalone: true}"
                     ngDefaultControl
                     id="representativeName">
            </td>
            <td rowspan="2">
              <img [src]="representative.image"
                   class="contact-image"
                   alt="Bild kann nicht angezeigt werden"
                   width="60" height="86" style="object-fit: cover"
                   fitFilePicker
                   [accept]="'image/*'"
                   [maxSize]="2000000"
                   (filePick)="onImagePick($event, representative)"/>
            </td>
          </tr>

          <tr>
            <td>
              <label for="representiveEmail">E-Mail:</label>
            </td>
            <td>
              <input class="form-control"
                     type="text"
                     [(ngModel)]="representative.email"
                     [ngModelOptions]="{standalone: true}"
                     id="representiveEmail">
            </td>
          </tr>
        </ng-container>
      </table>
      <button class="btn btn-success my-2 text-bold"
              *ngIf="representatives.length < 3"
              (click)="onRepresentativeAdd()">
        <i class="fa fa-user-plus mr-1"></i>
        Vertreter/in hinzufügen
      </button>
    </div>

    <div class="d-flex">
      <div class="mr-4">
        <div class="text-bold mb-2">Sie benötigen...</div>

        <div *ngFor="let resource of resources"
             class="checkbox mx-2">
          <label>
            <input type="checkbox"
                   (change)="resourceChanged(resource, $event)"
                   [checked]="isResourceSelected(resource)">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            {{resource.name}}
          </label>
        </div>
      </div>

      <div class="form-group flex-filler">
        <label for="otherNotes" class="text-bold mb-1">Sonstige Anmerkungen (z.B. eigener Messestand):</label>
        <textarea class="form-control"
                  id="otherNotes"
                  formControlName="additionalInfo"
                  rows="5">
        </textarea>
      </div>
    </div>
  </form>
</div>
