<div *ngIf="isVisible">
  <div class="mb-4">
    <h2 class="text-bold">Ihr Auftreten am FIT</h2>
    <p>Diese Angaben helfen uns, Ihr Auftreten am FIT so optimal wie möglich zu gestalten, und uns besser für Sie
      vorzubereiten.</p>
  </div>

  <form [formGroup]="formGroup">

    <div class="mb-4 d-flex justify-content-center">
      <div class="w-100">
        <h5 class="text-bold text-center">Am FIT vertreten Ihre Firma</h5>

        <!--representatives-->
        <table cellpadding="5" formArrayName="representatives">
          <ng-container *ngFor="let representativeControl of getRepresentativeFormArray(); let index = index"
                        [formGroupName]="index">

            <!--header + delete link-->
            <tr>
              <th colspan="3">
                <div class="d-flex">
                  <span>{{index + 1}}. Vertreter/in</span>
                  <button class="ml-auto btn btn-link p-0 text-bold"
                          style="color: darkred"
                          *ngIf="getRepresentativeFormArray().length > 1"
                          (click)="deleteRepresentative(index)">
                    Vertreter löschen <i class="fa fa-trash"></i>
                  </button>
                </div>
              </th>
            </tr>

            <tr>
              <!--name-->
              <td width="10%">
                <label [for]="'representativeName' + index">Name:*</label>
              </td>
              <td width="90%">
                <input class="form-control"
                       [id]="'representativeName' + index"
                       type="text"
                       name="name"
                       placeholder="Vor- und Nachname"
                       formControlName="name"
                       (change)="onInputChanged()"
                       [ngClass]="{'is-invalid': isArrayFieldInvalid('representatives', index, 'name')}"
                       title="representativeName">
              </td>
              <!--image-->
              <td rowspan="3">
                <img [src]="getRepresentativeImageUrl(index)"
                     class="contact-image object-fit-cover"
                     alt="Fehler"
                     width="100"
                     fitFilePicker
                     [accept]="'image/*'"
                     [maxSize]="2000000"
                     (filePick)="onImagePick($event, index)"/>
                <div class="invalid-message invalid-message-container"></div>
              </td>
            </tr>

            <tr>
              <!--email-->
              <td>
                <label [for]="'representativeEmail' + index">E-Mail:*</label>
              </td>
              <td>
                <input class="form-control"
                       type="text"
                       placeholder="E-Mail"
                       [id]="'representativeEmail' + index"
                       formControlName="email"
                       (change)="onInputChanged()"
                       [ngClass]="{'is-invalid': isArrayFieldInvalid('representatives', index, 'email')}"
                       title="representativeEmail"/>
              </td>
            </tr>

            <tr>
              <!--image picker-->
              <td>
                <label [for]="'representativeEmail' + index">Bild:*</label>
                <div class="invalid-message invalid-message-container"></div>
              </td>
              <td>
                <div class="input-group"
                     fitFilePicker
                     [accept]="'image/*'"
                     [maxSize]="2000000"
                     (filePick)="onImagePick($event, index)">
                  <input class="form-control cursor-pointer"
                         id="logo"
                         type="text"
                         [value]="getRepresentativeImageName(index)"
                         placeholder="Logo auswählen..."
                         disabled>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Durchsuchen</button>
                  </div>

                  <!--error messages-->
                  <div class="invalid-message invalid-message-container">
                    <span *ngIf="isArrayFieldEmpty('representatives', index, 'name')"
                          class="mr-2">
                      Name darf nicht leer sein!
                    </span>
                    <span *ngIf="isArrayFieldEmpty('representatives', index, 'email')"
                          class="mr-2">
                      E-Mail darf nicht leer sein!
                    </span>
                    <span *ngIf="isArrayFieldNoMail('representatives', index, 'email')">
                      Ungültige E-Mail!
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>

        <!--add representativeControl button-->
        <div class="w-100 mt-3">
          <button *ngIf="getRepresentativeFormArray().length < 3"
                  class="btn btn-success mb-2 mt-0 text-bold text-center"
                  id="btnAddRepresentative"
                  (click)="onRepresentativeAdd()">
            <i class="fa fa-user-plus mr-1"></i>
            Vertreter/in hinzufügen
          </button>
        </div>

      </div>
    </div>

    <!--resources-->
    <div class="d-flex">
      <div class="mr-4">
        <div class="text-bold mb-2">Sie benötigen...</div>

        <div *ngFor="let resource of resources"
             class="checkbox mx-2">
          <label>
            <input type="checkbox"
                   (change)="resourceChanged(resource, $event)"
                   [checked]="isResourceSelected(resource)">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            {{resource.name}}
          </label>
        </div>
      </div>

      <!--additional info-->
      <div class="form-group flex-filler">
        <label for="otherNotes" class="text-bold mb-1">Sonstige Anmerkungen:</label>
        <textarea class="form-control"
                  id="otherNotes"
                  placeholder="Anmerkungen (z.B. eigener Messestand)"
                  formControlName="additionalInfo"
                  rows="5">
        </textarea>
      </div>
    </div>
  </form>
</div>
