<div class="small-container py-4">
  <h3 class="text-bold">
    <i class="fa fa-book"></i> CSV-Export vom FIT am {{ event?.eventDate | date:'longDate' }}
  </h3>
  <div class="w-100 border-bottom"></div>

  <div class="d-flex flex-column justify-content-center align-items-center my-3">
    <div class="text-bold text-larger mb-1">Einträge: {{getEntryCount()}}</div>
    <button class="btn btn-success text-bold big-rounded-button"
            (click)="downloadCSV()">
      <i class="fa fa-file-excel-o fa-bold mr-1"></i>
      CSV exportieren
    </button>
  </div>

  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-light active" (click)="isAcceptedFilter = IsAccepted.Pending">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        <i class="fa fa-users"></i> Alle
      </label>
      <label class="btn btn-light" (click)="isAcceptedFilter = IsAccepted.Accepted">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <i class="fa fa-check text-success"></i> Akzeptierte
      </label>
      <label class="btn btn-light" (click)="isAcceptedFilter = IsAccepted.Rejected">
        <input type="radio" name="options" id="option3" autocomplete="off">
        <i class="fa fa-times text-danger"></i> Abgelehnte
      </label>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center mt-4">
    <h4 class="text-bold">Spalten-Einschränkungen</h4>

    <div class="d-flex">
      <div class="mr-3">
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header text-bold">
            <fit-custom-checkbox
              [preventMargins]="true"
              [message]="'Firma'"
              [(value)]="csv.isCompanyEnabled">
            </fit-custom-checkbox>
          </div>
          <div class="card-body"
               [ngClass]="{'disabled-element': !csv.isCompanyEnabled}">

            <fit-custom-checkbox
              [message]="'Name'"
              [(value)]="csv.company.name">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Straße'"
              [(value)]="csv.company.street">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Hausnummer'"
              [(value)]="csv.company.houseNumber">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Postleitzahl'"
              [(value)]="csv.company.zipCode">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Ort'"
              [(value)]="csv.company.location">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Adresszusatz'"
              [(value)]="csv.company.addition">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Mitgliedsbeitrag'"
              [(value)]="csv.company.memberPaymentAmount">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Mitglied seit'"
              [(value)]="csv.company.memberSince">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Mitgliedsstatus'"
              [(value)]="csv.company.memberStatus">
            </fit-custom-checkbox>

          </div>
        </div>

        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header text-bold">
            <fit-custom-checkbox
              [preventMargins]="true"
              [message]="'Firmen-Kontakt'"
              [(value)]="csv.isContactEnabled">
            </fit-custom-checkbox>
          </div>
          <div class="card-body"
               [ngClass]="{'disabled-element': !csv.isContactEnabled}">

            <fit-custom-checkbox
              [message]="'Anrede'"
              [(value)]="csv.contact.gender">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Name'"
              [(value)]="csv.contact.name">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'E-Mail'"
              [(value)]="csv.contact.email">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Telefon'"
              [(value)]="csv.contact.phone">
            </fit-custom-checkbox>

          </div>
        </div>
      </div>

      <div>
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header text-bold">
            <fit-custom-checkbox
              [preventMargins]="true"
              [message]="'Folder-Info'"
              [(value)]="csv.isBookingEnabled">
            </fit-custom-checkbox>
          </div>
          <div class="card-body"
               [ngClass]="{'disabled-element': !csv.isBookingEnabled}">

            <fit-custom-checkbox
              [message]="'Branch'"
              [(value)]="csv.booking.branch">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Telefon'"
              [(value)]="csv.booking.phone">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'E-Mail'"
              [(value)]="csv.booking.email">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Homepage'"
              [(value)]="csv.booking.homepage">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Niederlassungen'"
              [(value)]="csv.booking.establishments">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Sonstige Anmerkungen'"
              [(value)]="csv.booking.additionalInfo">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Firmenbeschreibung'"
              [(value)]="csv.booking.companyDescription">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Ist akzeptiert?'"
              [(value)]="csv.booking.isAccepted">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Paket'"
              [(value)]="csv.booking.package">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Vergeben (Ferial)'"
              [(value)]="csv.booking.providesSummerJob">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Vergeben (Diplomarbeit)'"
              [(value)]="csv.booking.providesThesis">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Vertreter'"
              [(value)]="csv.booking.representatives">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Standplatz'"
              [(value)]="csv.booking.location">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Wunsch-Abteilungen'"
              [(value)]="csv.booking.desiredBranches">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Benötigte Gegenstände'"
              [(value)]="csv.booking.resources">
            </fit-custom-checkbox>
          </div>
        </div>

        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header text-bold">
            <fit-custom-checkbox
              [preventMargins]="true"
              [message]="'Präsentation'"
              [(value)]="csv.isPresentationEnabled">
            </fit-custom-checkbox>
          </div>
          <div class="card-body"
               [ngClass]="{'disabled-element': !csv.isPresentationEnabled}">

            <fit-custom-checkbox
              [message]="'Titel'"
              [(value)]="csv.presentation.title">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Beschreibung'"
              [(value)]="csv.presentation.description">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Bestätigt?'"
              [(value)]="csv.presentation.isAccepted">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Branchen'"
              [(value)]="csv.presentation.branches">
            </fit-custom-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading"
     class="loading-container">
  <div class="centered-element">
    <fit-loading-spinner [message]="'Anmeldungen werden geladen ...'"></fit-loading-spinner>
  </div>
</div>
