<div class="main-page d-flex flex-column">
  <fit-header></fit-header>

  <div class="container p-3">
    <router-outlet></router-outlet>
    <fit-hint-icon></fit-hint-icon>

  </div>

  <div>
  </div>
  <fit-footer class="mt-auto"></fit-footer>
</div>

<!--TODO Remove one day-->
<div class="fixed-bottom ml-2">
  <span class="bg-danger" style="color: white">
    very secret dev area:
    <a [routerLink]="['/admin-tool']">ADMIN TOOL</a> |
    <a [routerLink]="['/fit']">FIT</a> |
    <a [routerLink]="['/konto']">ACCOUNT</a> |
  </span>
</div>
