@import "../../../../styles/fit-global-styles";

.event-row {
  cursor: pointer;
  &:hover:not(.selected-row) {
    background-color: whitesmoke;
  }
}

.selected-row {
  background-color: rgba(118, 188, 255, 0.35);
}
