@import "../../../../styles/fit-global-styles";

.selected-company {
  background-color: lighten($primary, 30%);
  opacity: 1;
}

.table {
  overflow-x: scroll;
}

.search-bar {
  font-family: $main-font, FontAwesome;
}
