@import "../../../../styles/fit-global-styles";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selected-company {
  background-color: lighten($primary, 30%);
  opacity: 1;
}

.table {
  overflow-x: scroll;
}

.search-bar {
  font-family: $main-font, FontAwesome;
}
