<h4 class="text-bold">Wählen Sie Ihr FIT-Paket</h4>

<div class="d-flex">

  <div class="checkbox mx-2">
    <label>
      <input type="checkbox">
      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      Standard
    </label>
  </div>

  <div class="checkbox mx-2">
    <label>
      <input type="checkbox">
      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      Premium
    </label>
  </div>

  <div>
    <div class="checkbox mx-2">
      <label>
        <input type="checkbox">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        Enterprise
      </label>
    </div>
  </div>

</div>

<h4 class="text-bold">Wählen Sie Ihren Standplatz</h4>

<div class="my-3">
  <button class="btn btn-primary">
    Standplatz wählen
  </button>
  Platz 177 gewählt
</div>

<h3 class="text-bold">Die Kosten für Ihre Teilnahme am FIT belaufen sich auf: XY€ </h3>
