.pointer:not(.disabled) {
  cursor: pointer;
}

.enabled {
  cursor: pointer;
  filter: brightness(100%);

  &:hover:not(.disabled-element-not-allowed) {
    filter: brightness(110%);
  }
}

.card {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.2s;

  .card-header {
    font-size: 26px;
    font-weight: bold;
  }

  .list-group {
    font-size: 18px;

    .list-group-item {
      padding: 8px 20px;
      background-color: inherit;
    }
  }

  .package-price {
    font-size: 26px;
    font-weight: bold;
  }

  .stars {
    font-size: 0.75rem;
  }

  .bottom-border {
    margin: 0 auto;
    border-bottom: solid 1px;
  }

  &:hover:not(.disabled-element-not-allowed) {
    -webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition-duration: 0.2s;

    filter: brightness(110%);
  }
}

.sub-text {
  font-size: 0.7em;
}

.bg-sponsor {
  background-color: #dea700;
}

#presentation {
  cursor: pointer;
}

table {
  font-size: 18px;
  width: 100%;
}

td, th {
  padding: 1px 5px;
}

.border-top {
  border-top: solid 2px black;
}

.presentation-locked-warning {
  height: 50px;
  bottom: -60px;
  position: absolute;
}
