@import "../../../../../styles/fit-location-badges";
@import "../../../../../styles/fit-global-styles";

.card {
  border: none;
  border-radius: 0;
}

.collapse-head {
  cursor: pointer;
  user-select: none;
  border: solid 1px lightgrey;
  border-radius: 0;
  background-color: #e3e3e3;

  &:hover:not(.highlighted) {
    background-color: #e3e3e3;
  }
}

.highlighted {
  background-color: #007bff;
  border: none;
  color: white;
}

.highlighted-border {
  border: solid 1px #007bff;
}

.location-legend-badge {
  width: 30px;
}

.selected-location-badge {
  font-size: 1em;
}

.location-detail {
  -webkit-transition: max-height 400ms linear;
  transition: max-height 400ms linear;
  overflow: hidden;
}

.location-detail.hidden {
  max-height: 0;
}

.location-detail.shown {
  max-height: 100px;
}
