.school-background {
  z-index: -1;
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../../../assets/school.jpeg") center;
  background-size: cover;
  filter: blur(1px);
  overflow: hidden;
}

#account-container {
  .school-logo {
    width: 20rem;
  }

  .card {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);

    .card-header {
      background-color: white;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .btn:disabled {
      opacity: 1;
      filter: brightness(80%);
    }
  }
}
