<fit-edit-area-modal [inputArea]="selectedArea"
                     (modalHidden)="isModalShown = false"
                     (areaChanged)="updateArea($event)"
                     *ngIf="isModalShown">
</fit-edit-area-modal>

<div class="container mt-8 mb-7">
  <div class="card border-rounded" [ngClass]="{'disabled-element': isLoading}">

    <div class="card-header p-0">
      <div class="card-header bg-dark text-light border-rounded-t">
        <h1 class="m-0 text-bold">Neuen FIT bearbeiten</h1>
      </div>

      <div class="card-body d-flex">
        <div class="mr-4">
          <span class="input-header">Der FIT findet statt am: </span>
          <fit-date-time-picker [placeholder]="'Datum des FIT'"
                                [(date)]="event.eventDate"
                                (dateChange)="onDateChange()">
          </fit-date-time-picker>
        </div>

        <div>
          <div class="d-flex w-100">
            <div class="input-header">Anmeldezeitraum:</div>
            <div class="flex-1"></div>
            <div class="text-muted mt-auto text-smaller mb-0-5 mr-1">Dauer: {{getRegistrationTimeSpan()}} Tage</div>
          </div>
          <div class="d-flex">
            <fit-date-time-picker class="mr-2"
                                  [placeholder]="'Anmelde-Start'"
                                  [(date)]="event.registrationStart"
                                  (dateChange)="onDateChange()">
            </fit-date-time-picker>
            <fit-date-time-picker [placeholder]="'Anmelde-Ende'"
                                  [(date)]="event.registrationEnd"
                                  (dateChange)="onDateChange()">
            </fit-date-time-picker>
          </div>
        </div>

        <div class="ml-4">
          <div class="input-header">Gesperrt-Seite:</div>
          <div class="d-flex">
            <div class="btn-group">
              <button class="btn btn-primary text-bold"
                      [ngClass]="{'active': !event.isExpiredLockMode}"
                      (click)="setExpiredLockMode(false)">
                <i class="fa fa-step-forward mr-2"></i> Bevorstehend
              </button>
              <button class="btn btn-primary text-bold"
                      [ngClass]="{'active': event.isExpiredLockMode}"
                      (click)="setExpiredLockMode(true)">
                Abgelaufen <i class="fa fa-step-backward ml-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">

      <div class="d-flex">
        <h2 class="flex-1 text-bold">Etagen</h2>

        <button class="btn btn-primary text-bold mx-auto my-2"
                (click)="addNewArea()">
          <i class="fa fa-plus"></i>
          Neues Geschoß hinzufügen
        </button>
      </div>

      <div *ngFor="let area of event.areas" class="d-flex area-container border-top py-3">
        <div class="my-auto">
          <div class="text-bold text-larger" title="area">{{area.designation}}</div>
          <div class="text-smaller">Plätze: {{area.locations?.length}}</div>
        </div>
        <div class="flex-1"></div>
        <div class="area-img-container">
          <img *ngIf="area.graphic != null"
               class="area-img"
               [src]="area.graphic.dataUrl"
               alt="Bild konnte nicht geladen werden">
          <div *ngIf="area.graphic == null"
               class="p-3 blue-border text-center">
            Zum Bearbeiten klicken
          </div>
          <div class="img-overlay"
               (click)="selectArea(area)">
            <i class="fa fa-pencil centered-element"></i>
          </div>
        </div>
        <div class="ml-2 mb-auto"
             *ngIf="event.areas.length > 1">
          <i class="fa fa-1-3x fa-times text-danger icon-button"
             (click)="removeArea(area)"></i>
        </div>
      </div>

      <div class="mt-2 w-100 d-flex">
        <button class="btn btn-success big-rounded-button event-save-btn text-bold mx-auto"
                (click)="persistEvent()"
                [disabled]="noChangesExist()">
          <span *ngIf="event.id != null"><i class="fa fa-download mr-1"></i>Speichern</span>
          <span *ngIf="event.id == null"><i class="fa fa-plus-circle mr-1"></i>Anlegen</span>
        </button>
      </div>

    </div>
  </div>
</div>
