<div class="m-5">

  <div class="d-flex mb-1">
    <h1>Anmeldungen</h1>
    <div class="flex-1"></div>
    <div class="booking-tool-btn my-2 mr-3"
         (click)="routeToCsvExport()">
      <i class="fa fa-file-excel-o text-success mr-1"></i>
      CSV-Export
    </div>
    <a class="booking-tool-btn my-2"
         role="link"
         [href]="appConfig.serverURL + '/media'"
         (click)="downloadImages()">
      <i class="fa fa-file-image-o text-primary mr-1"></i>
      Bilder-Export
    </a>
  </div>

  <table class="table">

    <tr>
      <th>Firma</th>
      <th>Anmeldezeitpunkt</th>
      <th>Standplatz</th>
      <th>Kontakt - E-Mail</th>
      <th>Paket</th>
      <th>Abs-Mitglied</th>
      <th>Status</th>
      <th></th>
    </tr>

    <tr *ngFor="let booking of bookings">
      <td>{{booking.company?.name}}</td>
      <td>{{booking.creationDate | date:'medium'}}</td>
      <td>{{booking.location?.number}}</td>
      <td>{{booking.company?.contact?.email}}</td>
      <td>{{booking.fitPackage?.name}}</td>
      <td>Groß</td>
      <td>Austehend</td>
      <td>
        <div class="icon-button"
             (click)="routeToBookingDetail(booking)">
          <i class="fa fa-pencil fa-1-5x"></i>
        </div>
      </td>
    </tr>

  </table>

  <div *ngIf="loading" class="text-center mt-3">
    <i class="fa fa-5x fa-spin fa-wheelchair"></i>
  </div>
</div>
