<div class="container py-4">
  <h3 class="text-bold">CSV - Export vom FIT am {{event?.eventDate | date:'longDate'}}</h3>
  <div class="w-100 border-bottom"></div>

  <div class="mt-2">
    <h4 class="text-bold">Ausgabe</h4>

    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header text-bold">
        Firma
      </div>
      <div class="card-body">

        <div class="checkbox mx-2">
          <label>
            <input type="checkbox">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            Name
          </label>
        </div>

      </div>
    </div>

    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header text-bold">
        FIT-Anmeldung
      </div>
      <div class="card-body">

        <div class="checkbox mx-2">
          <label>
            <input type="checkbox">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            hallo
          </label>
        </div>

      </div>
    </div>

  </div>

</div>
