@import "../../../styles/fit-global-styles";

#header {
  nav {
    @extend .floating-effect;

    .nav-item {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .nav-link {
      color: #d9d9d9;

      &:hover {
        color: whitesmoke;
        text-decoration: underline;
      }

      &:active {
        color: white;
      }
    }
  }
}
