<div id="header" class="fixed-top">
  <nav class="navbar navbar-dark text-light bg-black">

    <a class="navbar-brand text-bold"
       [routerLink]="['/admin-tool', 'dash']">
      <i class="fa fa-1-3x fa-tachometer mr-1"></i>
      Dashboard
    </a>

    <div class="navbar-nav text-bold">
      <ul class="nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'fit-anlegen']">
            <i class="fa fa-calendar-plus-o fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'fit-bearbeiten']">
            <i class="fa fa-calendar fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'anmeldungen']">
            <i class="fa fa-book fa-1-5x align-middle"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'firmen-bestaetigen']">
            <i class="fa fa-graduation-cap fa-1-5x align-middle"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'absolventen']">
            <i class="fa fa-user fa-1-5x align-middle"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'firmen']">
            <i class="fa fa-users fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'firmen-bestaetigen']">
            <i class="fa fa-check-square-o fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'aenderungsprotokoll']">
            <i class="fa fa-code-fork fa-1-5x align-middle"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'csv-export']">
            <i class="fa fa-file-excel-o fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool','mail-vorlagen']">
            <i class="fa fa-envelope fa-1-5x align-middle"></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool', 'firmen-bestaetigen']">
            <i class="fa fa-envelope-open fa-1-5x align-middle"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin-tool','einstellungen']">
            <i class="fa fa-cog fa-1-5x align-middle"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="d-flex">
    <button class="btn btn-link ml-auto mr-4 mt-2"
            (click)="logout()">
      <i class="fa fa-sign-out"></i>
      Abmelden
    </button>
  </div>
</div>
