<div class="school-background"></div>

<div class="small-container">

  <div class="account-header d-flex flex-column justify-content-center align-items-center">
    <img src="../../../../assets/logo_htl_white_blur.png" class="htl-logo" alt="HTL Leonding">
    <h2 class="text-bold text-light mt-2">{{company.name}}</h2>
  </div>

  <div class="account-form-background">
    <div [ngSwitch]="isGraduate">

      <fit-graduate-overview *ngSwitchCase="true"
                             [graduate]="graduate">
      </fit-graduate-overview>

      <fit-company-overview *ngSwitchCase="false"
                            [booking]="booking"
                            [company]="company">
      </fit-company-overview>
      
    </div>
  </div>
</div>
