.account-header {
  height: 175px;
  background-color: rgba(90, 90, 90, .6);
  box-shadow: 0 0 2px 2px rgba(90, 90, 90, .6);

  .htl-logo {
    width: 40%;
  }
}

input:read-only, .disabled {
  cursor: not-allowed;
}
