.account-header {
  height: 175px;
  background-color: lightgray;
  box-shadow: 0 0 2px 2px rgba(90, 90, 90, .6);
  //background: url("../../../../assets/school.jpeg") 50% 25%;

  .htl-logo {
    width: 40%;
  }
}

input:read-only, .disabled {
  cursor: not-allowed;
}
