<div class="small-container text-center mt-7" id="submissionSuccessContainer">

  <i class="fa fa-check-circle fa-4x text-success"></i>
  <h2>Ihre Anmeldung wurde erfolgreich eingereicht.</h2>

  <p class="text-justify mt-3">
    Ihre Anmeldung wurde an uns versandt, und wird so schnell wie möglich bearbeitet. Ihre Anmeldedaten wurden Ihnen in
    der Bestätigungsmail auch noch als PDF-Anhang geschickt. Sollten noch irgendwelche Fragen oder bestimmte Anliegen
    vorhanden sein, dann können Sie uns jederzeit per Mail erreichen.
  </p>

  <div class="text-right mt-4 text-smaller">
    <a [routerLink]="['/']">Zurück zur Hauptseite</a>
  </div>
</div>
