/* You can add global styles to this file, and also import other style files */
$fa-font-path: '~font-awesome/fonts' !default;
@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr";
@import "app/styles/fit-global-styles";
@import "./app/styles/fit-variables";
@import "./app/styles/fit-boxes";

.ajs-button {
  @extend .btn;
}

.ajs-ok {
  @extend .btn-primary;
}

.ajs-cancel {
  @extend .btn-dark;
}

.ajs-input {
  @extend .form-control;
}
