<div class="position-relative">
  <div class="small-container py-4">
    <h3 class="text-bold">
      <i class="fa fa-user"></i> Absolventen CSV-Export
    </h3>
    <div class="w-100 border-bottom"></div>

    <div class="d-flex flex-column justify-content-center align-items-center mt-3 mb-2">
      <div class="text-bold text-larger mb-1">Einträge: {{getEntryCount()}}</div>
      <button class="btn btn-success text-bold big-rounded-button"
              (click)="downloadCSV()">
        <i class="fa fa-file-excel-o fa-bold mr-1"></i>
        CSV exportieren
      </button>
    </div>

    <div class="d-flex mt-3">
      <div class="mx-auto" style="width: 18rem">

        <h4 class="text-bold">Jahrgang-Filter</h4>

        <div class="d-flex align-items-center">
          <input type="number"
                 class="form-control"
                 placeholder="von Jahr"
                 [(ngModel)]="yearFrom"
                 title="from">

          <div class="mx-2">-</div>

          <input type="number"
                 class="form-control"
                 placeholder="bis Jahr"
                 [(ngModel)]="yearTo"
                 title="to">
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center mt-4">
      <h4 class="text-bold">Spalten-Einschränkungen</h4>

      <div class="d-flex">

        <div class="card mb-3" style="width: 18rem;">
          <div class="card-header text-bold">
            Absolvent
          </div>
          <div class="card-body">

            <fit-custom-checkbox
              [message]="'Anrede'"
              [(value)]="csv.graduate.gender">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Name'"
              [(value)]="csv.graduate.name">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Abschlussjahr'"
              [(value)]="csv.graduate.graduationYear">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'E-Mail'"
              [(value)]="csv.graduate.email">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Telefon'"
              [(value)]="csv.graduate.phone">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Straße'"
              [(value)]="csv.graduate.street">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Hausnummer'"
              [(value)]="csv.graduate.houseNumber">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Postleitzahl'"
              [(value)]="csv.graduate.zipCode">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Ort'"
              [(value)]="csv.graduate.location">
            </fit-custom-checkbox>

            <fit-custom-checkbox
              [message]="'Adresszusatz'"
              [(value)]="csv.graduate.addition">
            </fit-custom-checkbox>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading"
       class="loading-container">
    <div class="centered-element">
      <fit-loading-spinner [message]="'Absolventen werden geladen ...'"></fit-loading-spinner>
    </div>
  </div>
</div>
