<div class="small-container mt-5 mb-9">

  <h2 class="text-bold">Mitglieder-Status</h2>
  <div class="text-muted">gibt nu kan ...</div>

  <h2 class="text-bold">Tags</h2>

  <fit-tag-input [tags]="company.tags"
                 (tagsChanges)="getCompanyTagsAsString()"
                 [placeholder]="'... weitere hinzufügen'"
                 [secondaryPlaceholder]="'Firmen-Tags'"
                 [autoComplete]="true"
                 [autoCompleteItems]="autoCompleteTags">
  </fit-tag-input>

  <div class="d-flex">
    <button class="btn btn-primary text-bold ml-auto mt-2"
            (click)="updateCompany()">
      <i class="fa fa-download"></i>
      Änderungen übernehmen
    </button>
  </div>

  <hr>

  <fit-company-overview [company]="company"
                        [showAdminVersion]="true">
  </fit-company-overview>

</div>
