<div class="small-container mt-5 mb-9">

  <h2 class="text-bold">Mitglieder-Status</h2>
  <div class="text-muted">gibt nu kan ...</div>

  <h2 class="text-bold">Tags</h2>

  <fit-tag-input [tags]="company.tags"
                 (tagsChanges)="getCompanyTagsAsString()"
                 [autoComplete]="true"
                 [autoCompleteItems]="autoCompleteTags">
  </fit-tag-input>

  <hr>

  <fit-company-overview [company]="company"
                        [showAdminVersion]="true">
  </fit-company-overview>

  <!--<div class="d-flex">-->
  <!--<button class="btn btn-primary text-bold ml-auto">-->
  <!--<i class="fa fa-download"></i>-->
  <!--Änderungen übernehmen-->
  <!--</button>-->
  <!--</div>-->
</div>
