@import "../../../../../styles/fit-global-styles";
@import "../../../../../styles/fit-badges";

.tag-scroll-container {
  @extend .scroll-list-container;
  min-height: 280px;
  max-height: 280px;
  overflow-y: auto;
  border: none;

  .tag-item {
    padding: .5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }
  }
}

.left-badge {
  font-weight: normal;
  background-color: whitesmoke;
  cursor: default;
  border-width: 2px;
  font-size: 1.1em;
}

.right-badge {
  font-size: 1.1em;
}

.tag-search-container {
  max-width: 300px;
  width: 100%;

  .search-bar {
    font-family: $main-font, FontAwesome;
    background-color: whitesmoke;
    border-radius: 0;
    border-bottom: solid 2px lightgrey;
  }
}
