@import "../../../../../styles/fit-variables";

.area-img {
  user-select: none;
  -webkit-user-drag: none;
  border: solid 2px $primary-color;
}

.draggable-location {
  user-select: none;
  cursor: pointer;
}

.ng-draggable {
  cursor: move;
}
