<div class="modal fade" id="editAreaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-bold">Etage bearbeiten</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="area != null">

        <h2 class="text-bold">{{area?.designation}}</h2>

        <div class="form-group d-flex">
          <label for="areaImg" class="my-auto mr-2">Hintergrundbild:</label>
          <div class="input-group"
               fitFilePicker
               [accept]="'image/*'"
               (filePick)="filePicked($event)">
            <input class="form-control"
                   id="areaImg"
                   type="text"
                   [value]="pickedFile?.name"
                   placeholder="Hintergrundbild auswählen..."
                   disabled>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Druchsuchen</button>
            </div>
          </div>
        </div>

        <div #areaBounds class="position-relative d-inline-block">
          <img [src]="area?.graphicUrl"
               class="area-img img-fluid"
               alt="Bild konnte nicht geladen werden">

          <div *ngFor="let location of area.locations"
               class="badge badge-primary draggable-location position-absolute"
               ngDraggable
               [bounds]="areaBounds"
               [inBounds]="true"
               (stopped)="onDragEnd(location, $event)"
               [style.top]="location.yCoordinate + '%'"
               [style.left]="location.xCoordinate + '%'">
            {{location.number}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Verwerfen
        </button>

        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal">
          Speichern
        </button>

      </div>
    </div>
  </div>
</div>
