@import "../../../../../styles/fit-variables";

.area-img {
  user-select: none;
  -webkit-user-drag: none;
}


.blue-border {
  border: solid 2px $primary-color;
}

.draggable-location {
  min-width: 30px;
  min-height: 10px;
  user-select: none;
  cursor: pointer;
}

.ng-draggable {
  cursor: move;
}

.location-add-button {
  width: 300px;
}

.location-detail {
  -webkit-transition: max-height 400ms linear;
  transition: max-height 400ms linear;
  overflow: hidden;
}

.location-detail.hidden {
  max-height: 0;
}

.location-detail.shown {
  max-height: 150px;
}

.custom-control {
  padding-left: 1.3rem;
}

.location-number-input {
  width: 60px;
}
