<div class="modal fade" id="editAreaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-bold">Etage bearbeiten</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="area != null">

        <h2 class="text-bold">{{area?.designation}}</h2>

        <div #areaBounds class="position-relative">
          <img [src]="area?.graphicUrl"
               class="area-img img-fluid"
               alt="Bild konnte nicht geladen werden">

          <div ngDraggable [bounds]="areaBounds" [inBounds]="true" (stopped)="onDragEnd($event)"
               class="badge badge-primary draggable-location position-absolute" style="top: 10px; left: 130px;">127
          </div>

          <div ngDraggable [bounds]="areaBounds" [inBounds]="true"  (stopped)="onDragEnd($event)"
               class="badge badge-primary draggable-location position-absolute" style="top: 210px; left: 230px;">113
          </div>

          <div ngDraggable [bounds]="areaBounds" [inBounds]="true" (stopped)="onDragEnd($event)"
               class="badge badge-primary draggable-location position-absolute" style="top: 100px; left: 830px;">175
          </div>

          <div ngDraggable [bounds]="areaBounds" [inBounds]="true" (stopped)="onDragEnd($event)"
               class="badge badge-primary draggable-location position-absolute" style="top: 210px; left: 130px;">106
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Verwerfen
        </button>

        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal">
          Speichern
        </button>

      </div>
    </div>
  </div>
</div>
