<fit-account-container-wrapper [containerSize]="0">
  <form autocomplete="off">
    <div class="form-group">

      <h4 class="text-center text-bold mt-1 mb-4">Mitglieder-Login</h4>

      <label class="d-flex text-bold">
        Code Eingabe:
        <a class="ml-auto cursor-pointer"
           [routerLink]="['/konto/code-vergessen']">Code vergessen?</a>
      </label>

      <fit-member-code-input [(loginCode)]="loginCode"
                             [hasFailed]="hasFailed"
                             [disabled]="isLoading">
      </fit-member-code-input>
    </div>

    <button class="btn btn-block btn-primary text-bold"
            id="btnFitRegister"
            type="submit"
            [disabled]="loginCode.length < 12"
            [ngClass]="{'cursor-not-allowed': loginCode.length < 12}"
            (click)="loginToCompanyAccount()">
      Anmelden
    </button>
  </form>
</fit-account-container-wrapper>
