@import "../../styles/fit-variables";
@import "../../styles/fit-global-styles";

.step-header {
  font-size: 22px;
  font-weight: bold;
}

.step-sub-text {
  font-size: 12px;
}

.step-container {
  cursor: pointer;
}
