<div class="d-table small-container mt-2 mb-4">
  <div class="d-inline-flex px-4 w-100">

    <!--step 1-->
    <div class="step-container flex-1 my-3"
         *ngFor="let step of steps; let index = index"
         (click)="setCurrentPage(step)">
      <div class="step-header justify-content-center d-flex flex-column align-items-center">
        <i class="fa fa-2x position-relative mr-1 my-auto"
           [ngClass]="{'fa-circle-thin': step > currentStep,
                       'fa-circle': step <= currentStep}">
          <span class="position-absolute centered-element step-number"
                [ngClass]="{'text-dark': step > currentStep,
                            'text-light': step <= currentStep}">
            {{index + 1}}
          </span>
        </i>

        <div [ngSwitch]="step">
          <div *ngSwitchCase="Step.GeneralData"
               class="my-auto">
            Allgemeines zur Firma
          </div>
          <div *ngSwitchCase="Step.DetailedData"
               class="my-auto">
            Details zur Firma
          </div>
          <div *ngSwitchCase="Step.FitAppearance"
               class="my-auto">
            Ihr Auftreten
          </div>
          <div *ngSwitchCase="Step.PackagesAndLocation"
               class="my-auto">
            Pakete & Standort
          </div>
          <div *ngSwitchCase="Step.ContactAndRemarks"
               class="my-auto">
            Kontakt & Anmerkungen
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--progress bar-->
  <div class="progress mx-4">
    <div id="progBar" class="progress-bar progress-bar-striped bg-info"
         role="progressbar" [style.width]="currentStep / 5 * 100 + '%'">
    </div>
  </div>

  <!--main container-->
  <div class="py-3 m-4 border-top">
    <fit-general-data [isVisible]="currentStep == Step.GeneralData"
                      [stepFormGroup]="fitFormGroup.controls['generalData']">
    </fit-general-data>

    <fit-detailed-data [isVisible]="currentStep == Step.DetailedData"
                       [stepFormGroup]="fitFormGroup.controls['detailedData']">
    </fit-detailed-data>

    <fit-fit-appearance [isVisible]="currentStep == Step.FitAppearance"
                        [stepFormGroup]="fitFormGroup.controls['fitAppearance']">
    </fit-fit-appearance>

    <fit-packages-and-location [isVisible]="currentStep == Step.PackagesAndLocation"
                               [stepFormGroup]="fitFormGroup.controls['packagesAndLocation']"
                               [event]="event">
    </fit-packages-and-location>

    <fit-contact-and-remarks [isVisible]="currentStep == Step.ContactAndRemarks"
                             [stepFormGroup]="fitFormGroup.controls['contactAndRemarks']">
    </fit-contact-and-remarks>
  </div>

  <div class="text-smaller text-muted">* Pflichtfeld</div>

  <!--navigation buttons-->
  <div class="d-flex mx-4">
    <button *ngIf="currentStep != Step.GeneralData"
            class="btn btn-dark"
            id="btnPrevious"
            (click)="previousPage()">
      <i class="fa fa-arrow-left"></i>
      Zurück
    </button>

    <div class="flex-filler"></div>
    <button *ngIf="currentStep != Step.ContactAndRemarks"
            class="btn btn-dark"
            id="btnNext"
            (click)="nextPage()">
      Weiter
      <i class="fa fa-arrow-right"></i>
    </button>

    <button *ngIf="currentStep == Step.ContactAndRemarks"
            id="btnSubmitBooking"
            class="btn btn-success"
            (click)="submitForm()">
      Anmelden
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

  <!--<div style="overflow: hidden; max-width: inherit">-->
  <!--<pre style="word-break: break-all">{{ fitFormGroup.value | json }}</pre>-->
  <!--</div>-->

</div>
