<div class="d-table small-container">
  <div class="d-inline-flex">

    <!--step 1-->
    <div class="step-container mx-4 my-2" (click)="setCurrentPage(1)">
      <div class="step-header">Schritt 1</div>
      <div>Allgemeines zur Firma</div>
    </div>

    <i class="fa fa-2x fa-long-arrow-right my-auto"></i>

    <!--step 2-->
    <div id="stepTwo" class="step-container mx-4 my-2 text-muted" (click)="setCurrentPage(2)" >
      <div class="step-header">Schritt 2</div>
      <div>Details zur Firma</div>
    </div>

    <i class="fa fa-2x fa-long-arrow-right my-auto "></i>

    <!--step 3-->
    <div id="stepThree" class="step-container mx-4 my-2 text-muted" (click)="setCurrentPage(3)">
      <div class="step-header">Schritt 3</div>
      <div>Ihr Auftreten</div>
    </div>

    <i class="fa fa-2x fa-long-arrow-right my-auto"></i>

    <!--step 4-->
    <div id="stepFour" class="step-container mx-4 my-2 text-muted" (click)="setCurrentPage(4)">
      <div class="step-header">Schritt 4</div>
      <div>Kontak & Anmerkungen</div>
    </div>

  </div>

  <!--progress bar-->
  <div class="progress mx-4">
    <div id="progBar" class="progress-bar progress-bar-striped bg-info"
         role="progressbar" [style.width]="progressValue">
    </div>
  </div>

  <div class="py-3 m-4 border-top">
    <fit-general-data *ngIf="currentPage ==  1"></fit-general-data>
    <fit-detailed-data *ngIf="currentPage == 2"></fit-detailed-data>
    <fit-fit-appearance *ngIf="currentPage == 3"></fit-fit-appearance>
    <fit-contact-and-remarks *ngIf="currentPage == 4"></fit-contact-and-remarks>
  </div>

  <div class="d-flex mx-4">
    <button (click)="previousPage()" *ngIf="currentPage!=1" class="btn btn-outline-dark">
      <i class="fa fa-arrow-left"></i>
      Zurück
    </button>

    <div class="flex-filler"></div>
    <button (click)="nextPage()" *ngIf="currentPage!=4" class="btn btn-outline-dark">
      Weiter
      <i class="fa fa-arrow-right"></i>
    </button>

    <button *ngIf="currentPage==4" class="btn btn-success">
      Anmelden
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

</div>
