@import "../../styles/fit-variables";
@import "../../styles/fit-global-styles";

.step-header {
  font-size: 14px;
}

.step-container {
  cursor: pointer;
}

.step-number {
  font-weight: bold;
  font-family: $main-font;
  font-size: 0.7em;
}
