<div class="d-table small-container">
  <div class="d-inline-flex mx-4">

    <!--step 1-->
    <div class="step-container mx-3 my-2"
         (click)="setCurrentPage(Step.GeneralData)">
      <div class="step-header">Schritt 1</div>
      <div class="step-sub-text">Allgemeines zur Firma</div>
    </div>

    <i class="fa fa-1-5x fa-long-arrow-right my-auto"></i>

    <!--step 2-->
    <div class="step-container mx-3 my-2"
         (click)="setCurrentPage(Step.DetailedData)">
      <div class="step-header">Schritt 2</div>
      <div class="step-sub-text">Details zur Firma</div>
    </div>

    <i class="fa fa-1-5x fa-long-arrow-right my-auto "></i>

    <!--step 3-->
    <div class="step-container mx-3 my-2"
         (click)="setCurrentPage(Step.FitAppearance)">
      <div class="step-header">Schritt 3</div>
      <div class="step-sub-text">Ihr Auftreten</div>
    </div>

    <i class="fa fa-1-5x fa-long-arrow-right my-auto"></i>

    <!--step 4-->
    <div class="step-container mx-3 my-2"
         [ngClass]="{'text-muted': currentStep < 4}"
         (click)="setCurrentPage(Step.PackagesAndLocation)">
      <div class="step-header">Schritt 4</div>
      <div class="step-sub-text">Pakete & Standort</div>
    </div>

    <i class="fa fa-1-5x fa-long-arrow-right my-auto"></i>

    <!--step 4-->
    <div class="step-container mx-3 my-2"
         [ngClass]="{'text-muted': currentStep < Step.ContactAndRemarks}"
         (click)="setCurrentPage(Step.ContactAndRemarks)">
      <div class="step-header">Schritt 5</div>
      <div class="step-sub-text">Kontak & Anmerkungen</div>
    </div>

  </div>

  <!--progress bar-->
  <div class="progress mx-4">
    <div id="progBar" class="progress-bar progress-bar-striped bg-info"
         role="progressbar" [style.width]="currentStep / 5 * 100 + '%'">
    </div>
  </div>

  <!--main container-->
  <div class="py-3 m-4 border-top">
    <fit-general-data *ngIf="currentStep ==  Step.GeneralData"
                      [fitFormGroup]="fitFormGroup.controls['generalData']">
    </fit-general-data>
    <fit-detailed-data *ngIf="currentStep == Step.DetailedData"></fit-detailed-data>
    <fit-fit-appearance *ngIf="currentStep == Step.FitAppearance"></fit-fit-appearance>
    <fit-packages-and-location *ngIf="currentStep == Step.PackagesAndLocation"></fit-packages-and-location>
    <fit-contact-and-remarks *ngIf="currentStep == Step.ContactAndRemarks"></fit-contact-and-remarks>
  </div>

  <!--navigation buttons-->
  <div class="d-flex mx-4">
    <button *ngIf="currentStep != Step.GeneralData"
            class="btn btn-dark"
            (click)="previousPage()">
      <i class="fa fa-arrow-left"></i>
      Zurück
    </button>

    <div class="flex-filler"></div>
    <button *ngIf="currentStep != Step.ContactAndRemarks"
            class="btn btn-dark"
            (click)="nextPage()">
      Weiter
      <i class="fa fa-arrow-right"></i>
    </button>

    <button *ngIf="currentStep == Step.ContactAndRemarks"
            class="btn btn-success"
            (click)="submitForm()">
      Anmelden
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

  <div>
    {{ fitFormGroup.value | json }}
  </div>

</div>
